<!-- 
BestTaste: корпоративные скидки на лучшие обеды Корпоративные скидки на лучшие обеды  Best Taste  
best-taste@business-information.store
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" style="width:100%;font-family:Abel, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;"><head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title>Корпоративные скидки на лучшие обеды</title>
  <!--[if (mso 16)]>    <style type="text/css">    a {text-decoration: none;}    </style>    <![endif]-->
  <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
  <!--[if !mso]><!-- -->
  <link href="{{url_for('fish_click', mail_temp=mail_temp)}}" rel="stylesheet">
  <!--<![endif]-->
  <!--[if gte mso 9]>
<xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG></o:AllowPNG>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
</xml>
<![endif]-->
  <style type="text/css">
@media only screen and (max-width:600px) {p, ul li, ol li, a { font-size:16px!important; line-height:150%!important } h1 { font-size:30px!important; text-align:center; line-height:120%!important } h2 { font-size:26px!important; text-align:center; line-height:120%!important } h3 { font-size:20px!important; text-align:center; line-height:120%!important } h1 a { font-size:30px!important } h2 a { font-size:26px!important } h3 a { font-size:20px!important } .es-menu td a { font-size:16px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:16px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class="gmail-fix"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:block!important } a.es-button { font-size:16px!important; display:block!important; border-left-width:0px!important; border-right-width:0px!important } .es-btn-fw { border-width:10px 0px!important; text-align:center!important } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } .es-desk-hidden { display:table-row!important; width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } .es-desk-menu-hidden { display:table-cell!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } }
#outlook a {
	padding:0;
}
.ExternalClass {
	width:100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height:100%;
}
.es-button {
	mso-style-priority:100!important;
	text-decoration:none!important;
}
a[x-apple-data-detectors] {
	color:inherit!important;
	text-decoration:none!important;
	font-size:inherit!important;
	font-family:inherit!important;
	font-weight:inherit!important;
	line-height:inherit!important;
}
.es-desk-hidden {
	display:none;
	float:left;
	overflow:hidden;
	width:0;
	max-height:0;
	line-height:0;
	mso-hide:all;
}
</style>
 </head>
 <body style="width:100%;font-family:Abel, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0;">
  <div class="es-wrapper-color" style="background-color:#F6F6F6;">
   <!--[if gte mso 9]>
			<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				<v:fill type="tile" color="#f6f6f6"></v:fill>
			</v:background>
		<![endif]-->
   <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top;">
     <tbody><tr style="border-collapse:collapse;">
      <td valign="top" style="padding:0;Margin:0;">
       <table cellpadding="0" cellspacing="0" class="es-header" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top;">
         <tbody><tr style="border-collapse:collapse;">
          <td align="center" style="padding:0;Margin:0;">
           <table bgcolor="#ffffff" class="es-header-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
             <tbody><tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;background-color:transparent;" bgcolor="transparent">
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img src="https://cdn.k-asap.com/emails/73f3bd8a20df6d7e659d35464ec1b662.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="50"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:10px;"><h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:30px;font-style:normal;font-weight:normal;color:#333333;"><strong>BEST TASTE</strong></h1></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
         <tbody><tr style="border-collapse:collapse;">
          <td align="center" style="padding:0;Margin:0;">
           <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
             <tbody><tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px;background-color:#FCC850;background-position:left top;" bgcolor="#fcc850">
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" height="40" style="padding:0;Margin:0;"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#000000;"><strong>Эксклюзивные условия </strong></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#000000;"><strong>для сотрудников&nbsp;</strong></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#DF251B;"><strong><span >{{company["name"]}}</span> </strong></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:30px;color:#000000;"><strong>при заказе в офис компании!</strong></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" height="40" style="padding:0;Margin:0;"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px;background-color:#FCC850;background-position:left top;" bgcolor="#fcc850">
               <!--[if mso]><table width="560" cellpadding="0" cellspacing="0"><tr><td width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" align="left" class="es-left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="right" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:34px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:51px;color:#DF251B;"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:34px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:51px;color:#DF251B;">Все закуски</p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td width="20"></td><td width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="left" class="es-m-p20b" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/40dedf2748697010bb27e3542ac9c00f.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="270"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="padding:0;Margin:0;padding-bottom:5px;background-color:#FCC850;background-position:left top;" bgcolor="#fcc850">
               <!--[if mso]><table width="600" cellpadding="0" cellspacing="0"><tr><td width="290" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" align="left" class="es-left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="290" class="es-m-p20b" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/9a20fd16246bfa763cf1d09b88cc87f1.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="290"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td width="20"></td><td width="290" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="290" align="left" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:34px;font-family:arial, 'helvetica neue', helvetica, sans-serif, color;line-height:51px;color:#DF251B;">на основное меню по коду</p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:34px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:51px;color:#333333;"><strong>JB45-8763</strong></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="padding:0;Margin:0;padding-left:20px;padding-right:20px;background-position:left top;background-color:#FCC850;" bgcolor="#fcc850">
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" height="40" style="padding:0;Margin:0;"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
         <tbody><tr style="border-collapse:collapse;">
          <td align="center" style="padding:0;Margin:0;">
           <table bgcolor="#ffffff" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
             <tbody><tr style="border-collapse:collapse;">
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;background-position:left top;">
               <!--[if mso]><table width="560" cellpadding="0" cellspacing="0"><tr><td width="270" valign="top"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td class="es-m-p20b" width="125" valign="top" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;padding-bottom:15px;font-size:0px;" data-editable="image"><img src="https://cdn.k-asap.com/emails/363ccb19c0b9a10daed7bcb718117559.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="110"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;color:#333333;"><strong>Обеды&nbsp;</strong></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="button" style="padding:0;Margin:0;padding-top:15px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">Выбрать</a></span></td>
                     </tr>
                   </tbody></table></td>
                  <td width="20" style="padding:0;Margin:0;"></td>
                  <td class="es-m-p20b" width="125" valign="top" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;padding-bottom:15px;font-size:0px;" data-editable="image"><img src="https://cdn.k-asap.com/emails/4f775614779a85082457205b3fa53824.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="62"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;color:#333333;"><strong>Закуски</strong></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="button" style="padding:0;Margin:0;padding-top:15px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">Выбрать</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td width="20"></td><td width="270" valign="top"><![endif]-->
               <table class="es-right" cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="125" valign="top" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;padding-bottom:15px;font-size:0px;" data-editable="image"><img src="https://cdn.k-asap.com/emails/704aec49a37ead28fe29d33972f29603.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="62"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;color:#333333;"><strong>Напитки</strong></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="button" style="padding:0;Margin:0;padding-top:15px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">Выбрать</a></span></td>
                     </tr>
                   </tbody></table></td>
                  <td width="20" style="padding:0;Margin:0;"></td>
                  <td width="125" valign="top" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;padding-bottom:15px;font-size:0px;" data-editable="image"><img src="https://cdn.k-asap.com/emails/0ff26faac039a2f63d1cf423decb13ca.png" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="68"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;color:#333333;"><strong>Дессерты</strong></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="button" style="padding:0;Margin:0;padding-top:15px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">Выбрать</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;">
               <!--[if mso]><table dir="rtl" width="560" cellpadding="0" cellspacing="0"><tr><td dir="ltr" width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="left" class="es-m-p20b" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/cfe32e3db30f763b4f61873216fd5a37.jpeg" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="270"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td dir="ltr" width="20"></td><td dir="ltr" width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="left" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="left" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:Abel, sans-serif;line-height:24px;color:#A9A9A9;"><br></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" height="20" style="padding:0;Margin:0;"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;padding-bottom:10px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;">Между хорошим обедом и долгой жизнью только та разница, что за обедом сладкое подают в конце.</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;text-align:right;"><strong>Роберт Льюис Стивенсон&nbsp;</strong></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" height="20" style="padding:0;Margin:0;"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;">
               <!--[if mso]><table width="560" cellpadding="0"                         cellspacing="0"><tr><td width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" class="es-m-p20b" align="left" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-position:left top;" role="presentation">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;font-size:0px;">
                       <table cellpadding="0" cellspacing="0" class="es-table-not-adapt es-social" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                         <tbody><tr style="border-collapse:collapse;">
                          <td align="center" valign="top" data-editable="image" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" data-editable="image" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" data-editable="image" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" data-editable="image" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" data-editable="image" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/44bfd6123287a8dd39c338b4b3758e58.jpg" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="270"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:abel, sans-serif;line-height:24px;color:#333333;"><b>Блинчики с арахисовым<br>маслом</b></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                  <td class="es-m-p20b" width="270" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-position:left top;" role="presentation">
                     <tbody><tr style="border-collapse:collapse;">
                      <td style="padding:0;Margin:0;">
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                         <tbody><tr style="border-collapse:collapse;">
                          <td width="50%" align="left" data-editable="button" style="padding:0;Margin:0;padding-left:5px;padding-right:5px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">В корзину</a></span></td>
                          <td width="50%" align="left" style="padding:0;Margin:0;">
                           <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                             <tbody><tr style="border-collapse:collapse;">
                              <td esdev-links-color="#ffffff" class="es-m-txt-c" width="50%" align="center" data-editable="html" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;"><h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:30px;font-style:normal;font-weight:normal;color:#333333;">₽<strong>160.00</strong></h1></td>
                             </tr>
                           </tbody></table></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td width="20"></td><td width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="left" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="left" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;font-size:0px;">
                       <table cellpadding="0" cellspacing="0" class="es-table-not-adapt es-social" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                         <tbody><tr style="border-collapse:collapse;">
                          <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                          <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><img title="star" src="https://cdn.k-asap.com/emails/8ad9a2fcbc386f4124e6dbefa5594634.png" alt="star" width="22" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/374fde7712d2f1daf418a23ef4b0c6db.jpg" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="270"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:abel, sans-serif;line-height:24px;color:#333333;"><b>Итальянский бургер с соусом дор-блю</b></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                  <td class="es-m-p20b" width="270" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td style="padding:0;Margin:0;">
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                         <tbody><tr style="border-collapse:collapse;">
                          <td width="50%" align="left" data-editable="button" style="padding:0;Margin:0;padding-left:5px;padding-right:5px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">В корзину</a></span></td>
                          <td width="50%" align="left" style="padding:0;Margin:0;">
                           <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                             <tbody><tr style="border-collapse:collapse;">
                              <td esdev-links-color="#ffffff" width="50%" align="center" class="es-m-txt-c" data-editable="html" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;"><h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:30px;font-style:normal;font-weight:normal;color:#333333;"><strong>₽285.00</strong></h1></td>
                             </tr>
                           </tbody></table></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;">
               <!--[if mso]><table dir="rtl" width="560" cellpadding="0" cellspacing="0"><tr><td dir="ltr" width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="left" class="es-m-p20b" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="left" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:Abel, sans-serif;line-height:24px;color:#A9A9A9;"><br></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="left" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:Abel, sans-serif;line-height:24px;color:#A9A9A9;"><br></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;padding-bottom:10px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;">— Работать будете или как?</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;">— После обеда хотел слегка кого-нибудь полечить.</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:15px;font-family:Abel, sans-serif;line-height:23px;color:#333333;"><strong>Доктор Хаус</strong></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td dir="ltr" width="20"></td><td dir="ltr" width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="left" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" height="20" style="padding:0;Margin:0;"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/30acfcb67bb458c0f5f051fb14c62de7.jpeg" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="270"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" height="20" style="padding:0;Margin:0;"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;">
               <!--[if mso]><table width="560" cellpadding="0"                         cellspacing="0"><tr><td width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-left" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" class="es-m-p20b" align="left" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-position:left top;" role="presentation">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/47ceca1d2845ef3014c298a793ae919b.jpg" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="270"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:Abel, sans-serif;line-height:24px;color:#333333;"><strong>Пицца с томатами черри и моцареллой&nbsp;</strong></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                  <td class="es-m-p20b" width="270" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td style="padding:0;Margin:0;">
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                         <tbody><tr style="border-collapse:collapse;">
                          <td width="50%" align="left" data-editable="button" style="padding:0;Margin:0;padding-left:5px;padding-right:5px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">В корзину</a></span></td>
                          <td width="50%" align="left" style="padding:0;Margin:0;">
                           <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                             <tbody><tr style="border-collapse:collapse;">
                              <td esdev-links-color="#ffffff" class="es-m-txt-c" width="50%" align="center" data-editable="html" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;"><h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:30px;font-style:normal;font-weight:normal;color:#333333;">₽<strong>210.00</strong></h1></td>
                             </tr>
                           </tbody></table></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td width="20"></td><td width="270" valign="top"><![endif]-->
               <table cellpadding="0" cellspacing="0" class="es-right" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="270" align="left" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/1653b7ba74d337a107790705503c5cdd.jpg" alt="" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;" width="270"></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:abel, sans-serif;line-height:24px;color:#333333;"><b>Картофель фри с соусом барбекю</b></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
                 <tr style="border-collapse:collapse;">
                  <td class="es-m-p20b" width="270" align="left" style="padding:0;Margin:0;">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td style="padding:0;Margin:0;">
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                         <tbody><tr style="border-collapse:collapse;">
                          <td width="50%" align="left" data-editable="button" style="padding:0;Margin:0;padding-left:5px;padding-right:5px;"><span class="es-button-border" style="border-style:solid;border-color:#F1C232;background:#F1C232;border-width:0px;display:inline-block;border-radius:0px;width:auto;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:14px;color:#FFFFFF;border-style:solid;border-color:#F1C232;border-width:10px 20px 10px 20px;display:inline-block;background:#F1C232;border-radius:0px;font-weight:normal;font-style:normal;line-height:17px;width:auto;text-align:center;border-left-width:20px;border-right-width:20px;" rel="noopener">В корзину</a></span></td>
                          <td width="50%" align="left" style="padding:0;Margin:0;">
                           <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                             <tbody><tr style="border-collapse:collapse;">
                              <td esdev-links-color="#ffffff" class="es-m-txt-c" width="50%" align="center" data-editable="html" style="padding:0;Margin:0;padding-top:5px;padding-bottom:5px;"><h1 style="Margin:0;line-height:36px;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:30px;font-style:normal;font-weight:normal;color:#333333;">₽<strong>60.00</strong></h1></td>
                             </tr>
                           </tbody></table></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table cellpadding="0" cellspacing="0" class="es-footer" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top;">
         <tbody><tr style="border-collapse:collapse;">
          <td align="center" style="padding:0;Margin:0;">
           <table bgcolor="#ffffff" class="es-footer-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#FFFFFF;">
             <tbody><tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:10px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;background-color:#FCC850;" bgcolor="#fcc850">
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:5px;padding-bottom:10px;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:20px;font-family:Abel, sans-serif;line-height:30px;color:#FFFFFF;"><strong>FOLLOW US ON</strong></p></td>
                     </tr>
                     <tr style="border-collapse:collapse;">
                      <td align="center" style="padding:0;Margin:0;font-size:0px;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:underline;color:#FCC850;" rel="noopener">
                        <table cellpadding="0" cellspacing="0" class="es-table-not-adapt es-social" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                          <tbody><tr style="border-collapse:collapse;">
                           <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" data-editable="image" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:underline;color:#FCC850;" rel="noopener"><img title="Facebook" src="https://cdn.k-asap.com/emails/f821d33e662058b653a1f53ee1b61180.png" alt="Fb" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a></td>
                           <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" data-editable="image" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:underline;color:#FCC850;" rel="noopener"><img title="Twitter" src="https://cdn.k-asap.com/emails/7c9cea1c651c3fd2aee0e14cc205c86f.png" alt="Tw" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a></td>
                           <td align="center" valign="top" style="padding:0;Margin:0;padding-right:10px;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" data-editable="image" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:underline;color:#FCC850;" rel="noopener"><img title="Instagram" src="https://cdn.k-asap.com/emails/8793bd5dc2341929f49e54a7de5fb18d.png" alt="Inst" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a></td>
                           <td align="center" valign="top" style="padding:0;Margin:0;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" data-editable="image" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:underline;color:#FCC850;" rel="noopener"><img title="Youtube" src="https://cdn.k-asap.com/emails/3d18d974d3c35b71d324268093c90f65.png" alt="Yt" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;"></a></td>
                          </tr>
                        </tbody></table></a></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px;">
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:underline;color:#FCC850;" target="_blank" rel="noopener">Векторная графика macrovector - www.freepik.com</a></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px;background-position:left top;">
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td style="padding:0;Margin:0;">
                       <table cellpadding="0" cellspacing="0" width="100%" class="es-menu" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                         <tbody><tr class="links" style="border-collapse:collapse;">
                          <td align="center" valign="top" width="33.33%" data-editable="html" id="esd-menu-id-0" style="Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:none;display:block;color:#000000;font-weight:bold;" rel="noopener">Главная</a></td>
                          <td align="center" valign="top" width="33.33%" data-editable="html" id="esd-menu-id-1" style="Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:none;display:block;color:#000000;font-weight:bold;" rel="noopener">О компании</a></td>
                          <td align="center" valign="top" width="33.33%" data-editable="html" id="esd-menu-id-2" style="Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0;"><a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:Abel, sans-serif;font-size:14px;text-decoration:none;display:block;color:#000000;font-weight:bold;" rel="noopener">Истории</a></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table cellpadding="0" cellspacing="0" class="es-content" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;">
         <tbody><tr style="border-collapse:collapse;">
          <td align="center" style="padding:0;Margin:0;background-color:transparent;" bgcolor="transparent">
           <table bgcolor="#efefef" class="es-content-body" align="center" cellpadding="0" cellspacing="0" width="600" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#EFEFEF;">
             <tbody><tr style="border-collapse:collapse;">
              <td align="left" style="Margin:0;padding-top:20px;padding-bottom:20px;padding-left:20px;padding-right:20px;background-position:left top;background-color:#FFFFFF;" bgcolor="#ffffff">
               <table cellpadding="0" cellspacing="0" width="100%" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                 <tbody><tr style="border-collapse:collapse;">
                  <td width="560" align="center" valign="top" style="padding:0;Margin:0;">
                   <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;">
                     <tbody><tr style="border-collapse:collapse;">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:16px;font-family:arial, 'helvetica neue', helvetica, sans-serif;line-height:24px;color:#333333;">© 2020,&nbsp;Сеть ресторанов Бест Тейст</p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table></td>
     </tr>
   </tbody></table>
  </div>
 

</body></html>