{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="padding-top: 10px;">
<form action="" method="POST" enctype="multipart/form-data">
<div class="row" style="--bs-gutter-x: unset; margin-right: unset;">
	<div class="col-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Логотиип бренда
			</div>
			<div class="card-body">
				<img class="adapt-img" src="{{url_for('static', filename='images/logos/'+option['logo'])}}" alt="Логотип" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="163" title="Логотип">
				<input type="file" name="logo" multiple accept="image/*,image/jpeg,image/png">
			</div>
		</div>
	</div>

	<div class="col-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Настройка периода отправлений сообщений
			</div>
			<div class="card-body">
				<div class="row">
					<div class="col-5"><strong>Часы:</strong></div>
					<div class="col">
						<div class="wrap-input100 m-b-16">
							<input class="input100" type="number" name="hour" step="1" placeholder="Часы" value="{{option['delay'][0]}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-users"></span>
							</span>
						</div>
						<!-- <input type="number" step="1" class="input100" style="width: 100px;height: 40px; padding: 5px;"> -->
					</div>
				</div>
				<div class="row">
					<div class="col-5"><strong>Минуты:</strong></div>
					<div class="col">
						<div class="wrap-input100 m-b-16">
							<input class="input100" type="number" name="minutes" step="1" placeholder="Минуты" value="{{option['delay'][1]}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-users"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-5"><strong>Секунды:</strong></div>
					<div class="col">
						<div class="wrap-input100 m-b-16">
							<input class="input100" type="number" name="seconds" step="1" placeholder="Секунды" value="{{option['delay'][2]}}">
							<span class="focus-input100"></span>
							<span class="symbol-input100">
								<span class="lnr lnr-users"></span>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-4">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Компания
			</div>
			<div class="card-body">
				<div class="wrap-input100 validate-input m-b-16" data-validate = "Имя должен быть 	меньше 4 символов">
					{% if option['inbox'] == None %}
					<input class="input100" type="text" name="domen" placeholder="test@test.ru">
					{% else %}
					<input class="input100" type="text" name="domen" placeholder="test@test.ru" value="{{option['inbox']}}">
					{% endif %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-users"></span>
					</span>
				</div>
				<div class="wrap-input100 validate-input m-b-16" data-validate = "Имя должен быть 	меньше 4 символов">
					<input class="input100" type="text" name="company_name" placeholder="Название компании" value="{{option['company_name']}}">
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-users"></span>
					</span>
				</div>
				<button type="subbmit" name="btn_submit" value="1" class="btn btn-secondary my-std-btn" style="height: 73px; width: 100%">Применить все изменения</button>
			</div>
		</div>
	</div>
</div>
<div class="row" style="--bs-gutter-x: unset; margin-right: unset;">
	<div class="col">
		<div class="card mb-4">
			<div class="card-header">
				<i class="fas fa-table mr-1"></i>
				Сообщения для отправки
			</div>
			<div class="card-body">
				<table width="100%" class="table table-striped">
					<thead>
	                    <tr>
	                    	<th></th>
	                        <th>Название</th>
	                        <th>Тема</th>
	                        <th>Имя отправителя</th>
	                        <th>Почта отправителя</th>
	                    </tr>
	                </thead>
					<tbody>
						{% for mail in fish_mails %}
						<tr>
							<td>
								{% if mail in option['mails'] %}
								<input class="form-check-input me-1" type="checkbox" value={{mail.id}} name="check_{{mail.id}}" style="margin-left: 0px;" checked>
								{% else %}
								<input class="form-check-input me-1" type="checkbox" value={{mail.id}} name="check_{{mail.id}}" style="margin-left: 0px;">
								{% endif %}
							</td>
							<td>{{mail.title}}</td>
							<td>{{mail.subject}}</td>
							<td>{{mail.mail_name}}</td>
							<td>{{mail.mail_from}}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
</form>
</div>




<!-- <script src='{{ url_for("static", filename="js/courses.js") }}'></script> -->
{% endblock %}



