<html lang="ru">
    <head>
      <meta charset="utf-8">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Knowledge Shield</title>
      {% endif %}

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href='{{ url_for("static", filename="images/icons/favicon.ico") }}'/>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="fonts/Linearicons-Free-v1.0.0/icon-font.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/animate/animate.css") }}'>
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/css-hamburgers/hamburgers.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/select2/select2.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/util.css") }}'>
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/main.css") }}'>
<!--===============================================================================================-->
    </head>
    <body>

<div class="container-login100" id="main_course_block" style="align-items: unset;">
  <div class="row" style="align-self: flex-start; width: 100%; justify-content: : unset;">
    <div class="col">
      <a href="{{url_for('home')}}"><button type="button" class="btn btn-secondary my-std-btn">Домой</button></a>
    </div>
    <div class="col-6">
      <font class="login100-form-title">
        ФИШИНГ
      </font>
    </div>
    <div class="col"></div>
  </div>
      <h1 style="color: white;">Ты попался на фишинг!</h1>
      <!--<h3 style="color: white;">Изучи курс по фишингу, чтобы не подвергунть опасности свою компанию.</h3>-->
</div>


<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-model="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title login100-form-title" id="exampleModalLabel">Уведомление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <spam class="my-txt" style="width: 100%;">{{ message }}</spam>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary my-std-btn" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


{% if get_flashed_messages() %}
<script type="text/javascript">
  var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
    keyboard: false
  })
  myModal.show()
</script>
{% endif %}



<!--===============================================================================================-->  
  <script src='{{ url_for("static", filename="vendor/jquery/jquery-3.2.1.min.js") }}'></script>
<!--===============================================================================================-->
  <script src='{{ url_for("static", filename="vendor/bootstrap/js/popper.js") }}'></script>
  <script src='{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.min.js") }}'></script>
<!--===============================================================================================-->
  <script src='{{ url_for("static", filename="vendor/select2/select2.min.js") }}'></script>
<!--===============================================================================================-->
  <script src='{{ url_for("static", filename="js/main.js") }}'></script>

    </body>
</html>