{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="padding-top: 10px;">
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Активные атаки
	    </div>
	    <div class="card-body">
		<form class="" action="" method="POST">
			{{ form.csrf_token() }}
			{{ form.hidden_tag() }}
			{% if form.errors %}
			{{ form.errors }}
			{% endif %}
	    	<div class="row">
	    		<div class="col">
	    			<div class="wrap-input100 m-b-16">
						{{ form.title(class="input100", placeholder="Название") }}
						{% for error in form.title.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-users"></span>
						</span>
					</div>
	    		</div>
	    		<div class="col">
	    			<div class="wrap-input100 m-b-16">
						{{ form.username(class="input100", placeholder="Пользователь") }}
						{% for error in form.username.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-users"></span>
						</span>
					</div>
	    		</div>
	    		<div class="col">
	    			<div class="wrap-input100 m-b-16">
						{{ form.group(class="input100", placeholder="Группа", style="border: unset;") }}
						{% for error in form.group.errors %}
							<span style="color: red;">[{{ error }}]</span>
						{% endfor %}
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-list"></span>
						</span>
					</div>
	    		</div>
	    		<div class="col">
					<div class="container-login100-form-btn">
						{{ form.submit(class="login100-form-btn") }}
					</div>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<div class="col">
	    			<strong>Начало:</strong>
	    			{{ form.start_time(class="input100") }}
					{% for error in form.group.errors %}
						<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
	    		</div>
	    		<div class="col">
	    			<strong>Конец:</strong>
	    			{{ form.end_time(class="input100") }}
					{% for error in form.group.errors %}
						<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
	    		</div>
	    	</div>
	    </form>
	    </div>
	</div>

	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Активные атаки
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    	<th>ID</th>
	                    	<th>Название</th>
	                        <th>Пользователь/группа</th>
	                        <th>Начало</th>
	                        <th>Конец</th>
	                        <th>Последнее письмо</th>
	                        <th>Период</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                    	<th>ID</th>
	                    	<th>Название</th>
	                        <th>Пользователь/группа</th>
	                        <th>Начало</th>
	                        <th>Конец</th>
	                        <th>Последнее письмо</th>
	                        <th>Период</th>
	                        <th></th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for attack in fish_attacks %}
	                    <tr>
	                    	<td>{{attack.id}}</td>
	                        <td>{{attack.attack_title}}</td>
	                        {% if attack.user_id != None %}
	                        <td>{{attack.users.username}}</td>
	                        {% else %}
	                        <td>{{attack.groups.group_name}}</td>
	                        {% endif %}
	                        <td>{{attack.start_time}}</td>
	                        <td>{{attack.end_time}}</td>
	                        <td>{{attack.last_mail_time}}</td>
	                        <td>test</td>
	                        <td><button type="button" class="btn btn-secondary my-std-btn" value="{{attack.id}}">Удалить</button></td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>

<script src='{{ url_for("static", filename="js/fish_attack.js") }}'></script>
{% endblock %}