{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="padding-top: 10px;">
	<div class="row">
		<div class="col">
			<div class="card mb-4">
			    <div class="card-header">
			        <i class="fas fa-table mr-1"></i>
			        Доля инцидентов фишинговых атак
			    </div>
			    <div class="card-body">
			    	<canvas id="myChart" width="100" height="100" style="max-height: 400px;"></canvas>
			    </div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-4">
			    <div class="card-header">
			        <i class="fas fa-table mr-1"></i>
			        Кол-во инцидентов по месяцам
			    </div>
			    <div class="card-body">
			    	<canvas id="myChart2" width="400" height="200" style="max-height: 400px;"></canvas>
			    </div>
			</div>
		</div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Пользователи
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Логин</th>
	                        <th>Почта</th>
	                        <th>Роль</th>
	                        <th>Группа</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Логин</th>
	                        <th>Почта</th>
	                        <th>Роль</th>
	                        <th>Группа</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for user in users %}
	                    <tr>
	                        <td>{{user.username}}</td>
	                        <td>{{user.email}}</td>
	                        <td>{{user.role}}</td>
	                        <td>{{user.groups.group_name}}</td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Группы
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Имя группы</th>
	                        <th>Кол-во пользователей</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Имя группы</th>
	                        <th>Кол-во пользователей</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for group in groups %}
	                    <tr>
	                        <td>{{group.group_name}}</td>
	                        <td>{{group.len}}</td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
	const data = {
		labels: [
		  'Попались на атаку',
		  'Защитились от атаки',
		  'Не учавствовали в атаке'
		],
		datasets: [{
		  label: 'Сотрудники',
		  data: [100, 300, 100],
		  backgroundColor: [
		    'rgb(255, 99, 132)',
		    'rgb(54, 162, 235)',
		    'rgb(255, 205, 86)'
		  ],
		  hoverOffset: 4
		}]
	};
	const config = {
  		type: 'doughnut',
  		data: data,
	};
	 var myChart = new Chart(
    	document.getElementById('myChart'),
    	config
  	);

const data2 = {
  labels: ["Январь", "Февраль", "Март", "Апрель"],
  datasets: [{
    label: 'Кол-во инцидентов',
    data: [40, 30, 20, 10],
    backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)'
    ],
    borderColor: [
      'rgb(255, 99, 132)',
      'rgb(255, 159, 64)',
      'rgb(255, 205, 86)',
      'rgb(75, 192, 192)'
    ],
    borderWidth: 1
  }]
};
const config2 = {
  type: 'bar',
  data: data2,
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  },
};
	 var myChart2 = new Chart(
    	document.getElementById('myChart2'),
    	config2
  	);

</script>

{% endblock %}