{% extends "base.html" %}
{% block content %}

<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
			<form class="login100-form validate-form" action="" method="POST">
				{{ form.csrf_token() }}
				{{ form.hidden_tag() }}
				<span class="login100-form-title p-b-55">
					Авторизация
				</span>

				<div class="wrap-input100 validate-input m-b-16" data-validate = "Login is required">
					<!-- <input class="input100" type="text" name="email" placeholder="Email"> -->
					{{ form.username(class="input100", placeholder="Логин") }}
					{% for error in form.username.errors %}
						<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-users"></span>
					</span>
				</div>

				<div class="wrap-input100 validate-input m-b-16" data-validate = "Password is required">
					<!-- <input class="input100" type="password" name="pass" placeholder="Password"> -->
					{{ form.password(class="input100", placeholder="Пароль") }}
					{% for error in form.password.errors %}
						<span style="color: red;">[{{ error }}]</span>
					{% endfor %}
					<span class="focus-input100"></span>
					<span class="symbol-input100">
						<span class="lnr lnr-lock"></span>
					</span>
				</div>

				<div class="contact100-form-checkbox m-l-4">
					<!-- <input class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me"> -->
					{{ form.remember(class="input-checkbox100", id="ckb1") }}
					{{ form.remember.label(class="label-checkbox100 no-selection", for="ckb1") }}
					<!--
					<label class="label-checkbox100" for="ckb1">
						Запомнить меня?
					</label> -->
				</div>
				
				<div class="container-login100-form-btn p-t-25">
					<!--
					<button class="login100-form-btn">
						Login
					</button>
					-->
					{{ form.submit(class="login100-form-btn") }}
				</div>

				<div class="text-center w-full p-t-115">
					<span class="txt1">
						Not a member?
					</span>

					<a class="txt1 bo1 hov1" href="#">
						Sign up now							
					</a>
				</div>
			</form>
		</div>
	</div>
</div>

{% endblock %}