{% extends "base.html" %}
{% block content %}
<div style="display: none;" id="data" data-firstid="{{fish_mails[0].id}}"></div>
<div class="row" style="--bs-gutter-x: unset; margin-right: unset;">
	<div class="col">
		<div class="tab-content" id="nav-tabContent" style="margin: 10px;">
		{% for mail in fish_mails %}
			{% if mail == fish_mails[0] %}
			<div class="tab-pane fade show active" id="list-{{mail.id}}" role="tabpanel" 	aria-labelledby="list-{{mail.id}}-list">
			{% else %}
			<div class="tab-pane fade" id="list-{{mail.id}}" role="tabpanel" 	aria-labelledby="list-{{mail.id}}-list">
			{% endif %}
      			<div class="card mb-4">
				    <div class="card-header">
				        <i class="fas fa-table mr-1"></i>
				        {{mail.title}}
				    </div>
				    <div class="card-body" id="body_{{mail.id}}">
				    </div>
				</div>
      		</div>
      	{% endfor %}
      	</div>
	</div>
	<div class="col-3">
		<div class="list-group" id="list-tab" role="tablist" style="padding: 10px;">
			{% for mail in fish_mails %}
				{% if mail == fish_mails[0] %}
	      		<a class="list-group-item list-group-item-action active" id="list-{{mail.id}}-list" data-bs-toggle="list" href="#list-{{mail.id}}" role="tab " aria-controls="{{mail.id}}" onclick="get_mail({{mail.id}})" >{{mail.title}}</a>
	      		{% else %}
	      		<a class="list-group-item list-group-item-action" id="list-{{mail.id}}-list" data-bs-toggle="list" href="#list-{{mail.id}}" role="tab " aria-controls="{{mail.id}}" onclick="get_mail({{mail.id}})" >{{mail.title}}</a>
	      		{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<script src='{{ url_for("static", filename="js/mail_templates.js") }}'></script>
{% endblock %}