{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="padding-top: 10px;">
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Назначить
	    </div>
	    <div class="card-body">
		<form class="" action="" method="POST">
	    	<div class="row">
	    		<div class="col">
	    			<div class="wrap-input100 m-b-16">
						<input class="input100" id="username" name="username" placeholder="Пользователь" type="text" value="">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-users"></span>
						</span>
					</div>
	    		</div>
	    		<div class="col">
	    			<div class="wrap-input100 m-b-16">
	    				<select class="input100" id="group" name="group" placeholder="Группа" style="border: unset;">
	    					<option value="0">Не выбрано</option>
	    					{% for group in groups %}
	    						<option value="{{group.id}}">{{group.group_name}}</option>
	    					{% endfor %}
	    				</select>
	    				<span class="focus-input100"></span>
						<span class="symbol-input100">
							<span class="lnr lnr-list"></span>
						</span>
					</div>
	    		</div>
	    		<div class="col-4">
	    			<div class="row">
	    				<div class="col-4 in-items-center"><strong>Срок выполнения:</strong></div>
	    				<div class="col">
	    					<input class="input100" id="deadline" name="deadline" required="" type="datetime-local" value="" required>
	    				</div>
	    			</div>
	    		</div>
	    		<div class="col-2">
					<div class="container-login100-form-btn">
						<button type="submit" name="btn_submit" class="login100-form-btn">Назначить</button>
					</div>
	    		</div>
	    	</div>
	    	<div class="row">
	    		<h3 style="font-family: Raleway-Black; text-transform: uppercase; margin-bottom: 5px;">
					Доступнеы курсы:
				</h3>
	        	<div class="table-responsive">
	        	    <table class="langtable table table-bordered" id="dataTable1" width="100%" cellspacing="0">
	        	        <thead>
	        	            <tr>
	        	            	<th></th>
	        	                <th>Название</th>
	        	                <th>Тип</th>
	        	                <th>Наличие теста</th>
	        	            </tr>
	        	        </thead>
	        	        <tfoot>
	        	            <tr>
	        	            	<th></th>
	        	                <th>Название</th>
	        	                <th>Тип</th>
	        	                <th>Наличие теста</th>
	        	            </tr>
	        	        </tfoot>
	        	        <tbody>
	        	        	{% for course_group in course_groups %}
	        	        	<tr>
	        	            	<th><input class="form-check-input me-1" type="checkbox" value="{{course_group.id}}" name="group_{{course_group.id}}" style="margin: 0px;"></th>
	        	                <th>{{course_group.group_title}}</th>
	        	                <th>Группа курсов</th>
	        	                {% if course_group.test != None %}
	        	                <th>Есть</th>
	        	                {% else %}
	        	                <th>Нет</th>
	        	                {% endif %}
	        	            </tr>
	        	            {% endfor %}
	        	            {% for course in courses %}
	        	        	<tr>
	        	            	<th><input class="form-check-input me-1" type="checkbox" value="{{course.id}}" name="course_{{course.id}}" style="margin: 0px;"></th>
	        	                <th>{{course.course_title}}</th>
	        	                <th>Курс</th>
	        	                <th>Нет</th>
	        	            </tr>
	        	            {% endfor %}
	        	        </tbody>
	        	    </table>
	        	</div>
	    	</div>
	    </form>
	    </div>
	</div>

	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Активные назначения
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered langtable" id="dataTable2" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Пользователь/группа</th>
	                        <th>Начало</th>
	                        <th>Конец</th>
	                        <th></th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                    	<th>ID</th>
	                        <th>Пользователь/группа</th>
	                        <th>Начало</th>
	                        <th>Конец</th>
	                        <th></th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>

<script src='{{ url_for("static", filename="js/fish_attack.js") }}'></script>
{% endblock %}