{% extends "work_base.html" %}
{% block content %}
<div class="course-msg-block" style="width: 600px;">
	<form class="" action="" method="POST" autocomplete="off">
		<div class="row course-text" style="padding-bottom: 40px;">
		{% for ques in test_r %}
			<strong style="padding-bottom: 10px;" align="justify">
			Вопрос: 
			{{test[ques]["ques"]}}
			</strong>
			{% for ans in test[ques]["ans"] %}
			<div class="row">
				<div class="col-1 in-items-center">
					-
  				</div>
  				<div class="col">
  					{% if test[ques]["rightans"] != test_r[ques] and test_r[ques] == test[ques]["ans"][ans] %}
  					<label align="justify" style="color: red; margin: auto;">
  							{{test[ques]["ans"][ans]}}
  					</label>
  					{% elif test[ques]["rightans"] == test_r[ques] and test_r[ques] == test[ques]["ans"][ans] %}
  					<label align="justify" style="color: green; margin: auto;">
  							{{test[ques]["ans"][ans]}}
  					</label>
  					{% else %}
  					<label align="justify" style="margin: auto;">
  							{{test[ques]["ans"][ans]}}
  					</label>
  					{% endif %}
  					
  				</div>
  			</div>
  			{% endfor %}
		<hr>
		{% endfor %}
		</div>
	</form>
</div>
{% endblock %}