{% if submit == "next_block" %}
<div class="course-msg-block" style="width: 470px;">
{% else %}
<div class="course-msg-block" id="second_block" style="display: none; width: 470px;">
{% endif %}
	<div class="row" style="height: 200px; text-align: center;">
		<img class="course-img" src="{{img_url}}">
	</div>
	<div class="course-ander-img">
		<div class="row course-text" style="width: 470px;">
			{% autoescape false %}
			<!--<p class="my-txt">{{text}}</p> -->
				{{text}}
			{% endautoescape %}
		</div>
		<div class="row">
			<div class="col">			
			</div>
			<div class="col-5">
				{% if submit == "end_course" %}
				<button  type="button" value="{{submit}}" onclick="end_course()" class="btn btn-secondary my-std-btn">Дальше</button>
				{% else %}
				<button  type="button" value="{{submit}}" onclick="next_button(this)" class="btn btn-secondary my-std-btn">Дальше</button>
				{% endif %}
			</div>
		</div>
	</div>
</div>