{% if submit == "next_block" %}
<div class="course-msg-block" style="min-width: 680px;">
{% else %}
<div class="course-msg-block" id="second_block" style="min-width: 680px; display: none;">
{% endif %}
	<div class="row">
		<div class="col course-text" style="width: 400px;">
			{% autoescape false %}
				{{text}}
			{% endautoescape %}
		</div>
		<div class="col" style="width: 600px; height: 390px;">
			<img class="course-img" src="{{img_url}}">
		</div>
	</div>
	<div class="row" style="margin-top: 5px; margin-bottom: 5px">
		<div class="col">			
		</div>
		<div class="col-5">
			{% if submit == "end_course" %}
			<button  type="button" value="{{submit}}" onclick="end_course()" class="btn btn-secondary my-std-btn">Дальше</button>
			{% else %}
			<button  type="button" value="{{submit}}" onclick="next_button(this)" class="btn btn-secondary my-std-btn">Дальше</button>
			{% endif %}
		</div>
	</div>
</div>