<!-- 
Специальные условия для сотрудников	Специальные условия для сотрудников	Скидки в магазине Fashion	
discount@official-inbox.com
-->
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" style="width:100%;font-family:verdana, geneva, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0"><head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta name="x-apple-disable-message-reformatting">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="telephone=no" name="format-detection">
  <title>Специальные условия для сотрудников Kaspersky</title>
  <!--[if (mso 16)]>
    <style type="text/css">
    a {text-decoration: none;}
    </style>
    <![endif]-->
  <!--[if gte mso 9]><style>sup { font-size: 100% !important; }</style><![endif]-->
  <!--[if gte mso 9]>
<xml>
    <o:OfficeDocumentSettings>
    <o:AllowPNG></o:AllowPNG>
    <o:PixelsPerInch>96</o:PixelsPerInch>
    </o:OfficeDocumentSettings>
</xml>
<![endif]-->
  <!--[if !mso]><!-- -->
  <link href="{{url_for('fish_click', mail_temp=mail_temp)}}" rel="stylesheet">
  <!--<![endif]-->
  <style type="text/css">
#outlook a {
	padding:0;
}
.ExternalClass {
	width:100%;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass span,
.ExternalClass font,
.ExternalClass td,
.ExternalClass div {
	line-height:100%;
}
.es-button {
	mso-style-priority:100!important;
	text-decoration:none!important;
}
a[x-apple-data-detectors] {
	color:inherit!important;
	text-decoration:none!important;
	font-size:inherit!important;
	font-family:inherit!important;
	font-weight:inherit!important;
	line-height:inherit!important;
}
.es-desk-hidden {
	display:none;
	float:left;
	overflow:hidden;
	width:0;
	max-height:0;
	line-height:0;
	mso-hide:all;
}
@media only screen and (max-width:600px) {p, ul li, ol li, a { font-size:16px!important; line-height:150%!important } h1 { font-size:30px!important; text-align:center; line-height:120%!important } h2 { font-size:26px!important; text-align:center; line-height:120%!important } h3 { font-size:20px!important; text-align:center; line-height:120%!important } h1 a { font-size:30px!important } h2 a { font-size:26px!important } h3 a { font-size:20px!important } .es-menu td a { font-size:16px!important } .es-header-body p, .es-header-body ul li, .es-header-body ol li, .es-header-body a { font-size:16px!important } .es-footer-body p, .es-footer-body ul li, .es-footer-body ol li, .es-footer-body a { font-size:16px!important } .es-infoblock p, .es-infoblock ul li, .es-infoblock ol li, .es-infoblock a { font-size:12px!important } *[class="gmail-fix"] { display:none!important } .es-m-txt-c, .es-m-txt-c h1, .es-m-txt-c h2, .es-m-txt-c h3 { text-align:center!important } .es-m-txt-r, .es-m-txt-r h1, .es-m-txt-r h2, .es-m-txt-r h3 { text-align:right!important } .es-m-txt-l, .es-m-txt-l h1, .es-m-txt-l h2, .es-m-txt-l h3 { text-align:left!important } .es-m-txt-r img, .es-m-txt-c img, .es-m-txt-l img { display:inline!important } .es-button-border { display:inline-block!important } a.es-button { font-size:18px!important; display:inline-block!important; border-width:10px 20px 10px 20px!important } .es-btn-fw { border-width:10px 0px!important; text-align:center!important } .es-adaptive table, .es-btn-fw, .es-btn-fw-brdr, .es-left, .es-right { width:100%!important } .es-content table, .es-header table, .es-footer table, .es-content, .es-footer, .es-header { width:100%!important; max-width:600px!important } .es-adapt-td { display:block!important; width:100%!important } .adapt-img { width:100%!important; height:auto!important } .es-m-p0 { padding:0px!important } .es-m-p0r { padding-right:0px!important } .es-m-p0l { padding-left:0px!important } .es-m-p0t { padding-top:0px!important } .es-m-p0b { padding-bottom:0!important } .es-m-p20b { padding-bottom:20px!important } .es-mobile-hidden, .es-hidden { display:none!important } tr.es-desk-hidden, td.es-desk-hidden, table.es-desk-hidden { width:auto!important; overflow:visible!important; float:none!important; max-height:inherit!important; line-height:inherit!important } tr.es-desk-hidden { display:table-row!important } table.es-desk-hidden { display:table!important } td.es-desk-menu-hidden { display:table-cell!important } .es-menu td { width:1%!important } table.es-table-not-adapt, .esd-block-html table { width:auto!important } table.es-social { display:inline-block!important } table.es-social td { display:inline-block!important } }
</style>
 </head>
 <body style="width:100%;font-family:verdana, geneva, sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;padding:0;Margin:0">
  <div class="es-wrapper-color" style="background-color:#EFEFEF">
   <!--[if gte mso 9]>
			<v:background xmlns:v="urn:schemas-microsoft-com:vml" fill="t">
				<v:fill type="tile" color="#efefef"></v:fill>
			</v:background>
		<![endif]-->
   <table class="es-wrapper" width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;padding:0;Margin:0;width:100%;height:100%;background-repeat:repeat;background-position:center top">
     <tbody><tr style="border-collapse:collapse">
      <td valign="top" style="padding:0;Margin:0">
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td class="es-adaptive" align="center" style="padding:0;Margin:0">
           <table class="es-content-body" cellspacing="0" cellpadding="0" align="center" bgcolor="transparent" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" bgcolor="#efefef" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;background-color:#EFEFEF">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:580px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td class="es-infoblock" align="center" style="padding:0;Margin:0;line-height:14px;font-size:12px;color:#CCCCCC"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:verdana, geneva, sans-serif;line-height:18px;color:#CCCCCC"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:12px;font-family:verdana, geneva, sans-serif;line-height:18px;color:#CCCCCC"><br></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-header" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top">
         <tbody><tr style="border-collapse:collapse">
          <td class="es-adaptive" align="center" style="padding:0;Margin:0">
           <table class="es-header-body" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px">
             <tbody><tr style="border-collapse:collapse">
              <td style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;background-color:#333333;background-position:left top" bgcolor="#333333" align="left">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:580px">
                   <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-position:left top" role="presentation">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img src="https://cdn.k-asap.com/emails/76c72381e7f49f2f903c999002e94fbe.png" alt="Fashion logo" title="Fashion logo" width="149" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" bgcolor="#ffffff" style="padding:0;Margin:0;padding-top:10px;padding-bottom:10px;background-color:#FFFFFF">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td style="padding:0;Margin:0">
                       <table class="es-menu" width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr class="links" style="border-collapse:collapse">
                          <td style="Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0" width="25.00%" bgcolor="transparent" align="center" data-editable="button" id="esd-menu-id-0"><a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:16px;text-decoration:none;display:block;color:#333333" href="{{url_for('fish_click', mail_temp=mail_temp)}}" rel="noopener">Новинки</a></td>
                          <td style="Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0" width="25.00%" bgcolor="transparent" align="center" data-editable="button" id="esd-menu-id-1"><a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:16px;text-decoration:none;display:block;color:#333333" href="{{url_for('fish_click', mail_temp=mail_temp)}}" rel="noopener">Женщинам</a></td>
                          <td style="Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0" width="25.00%" bgcolor="transparent" align="center" data-editable="button" id="esd-menu-id-2"><a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:16px;text-decoration:none;display:block;color:#333333" href="{{url_for('fish_click', mail_temp=mail_temp)}}" rel="noopener">Мужчинам</a></td>
                          <td style="Margin:0;padding-left:5px;padding-right:5px;padding-top:10px;padding-bottom:10px;border:0" width="25.00%" bgcolor="transparent" align="center" data-editable="button" id="esd-menu-id-3"><a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:16px;text-decoration:none;display:block;color:#333333" href="{{url_for('fish_click', mail_temp=mail_temp)}}" rel="noopener">Акции</a></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6;width:600px" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" bgcolor="transparent" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px;font-size:0px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="center" data-editable="html" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:18px;font-family:verdana, geneva, sans-serif;line-height:27px;color:#333333"><strong>Новая Коллекция!</strong></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="center" bgcolor="transparent" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px;font-size:0px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td style="padding:0;Margin:0;position:relative" align="center" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/74eb2c38bed74ebacdde6e8cc7670eb2.png" alt="New Spring Collections" title="New Spring Collections" width="100%" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
                 <tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" bgcolor="transparent" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px;font-size:0px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" bgcolor="#333333" style="padding:0;Margin:0;background-position:left top;background-color:#333333">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#333333;background-position:left top" width="100%" cellspacing="0" cellpadding="0" bgcolor="#333333" role="presentation">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#FFFFFF">Сотрудник компании <span style="color:#FFFF00"><span >{{company["name"]}}</span></span> отметил вас&nbsp;как коллегу. Добавляйте ваших коллег и получите скидки до 15 000р!</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#FFFFFF"><a target="_blank" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:14px;text-decoration:underline;color:#FFFFFF" href="{{url_for('fish_click', mail_temp=mail_temp)}}" rel="noopener">Узнать подробнее</a></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#FFFFFF"><br></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" bgcolor="transparent" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#E4E8EA" width="100%" cellspacing="0" cellpadding="0" bgcolor="#e4e8ea" role="presentation">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:15px"><h2 style="Margin:0;line-height:29px;mso-line-height-rule:exactly;font-family:georgia, times, 'times new roman', serif;font-size:24px;font-style:normal;font-weight:normal;color:#333333">Осень</h2></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-left:20px;padding-right:20px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333">Покупка верхней одежды – ощутимая статья расходов в при смене сезона. Поэтому главное в этом деле сохранять спокойствие и отдавать предпочтение всегда актуальной классике, которой не страшны модные перемены.</p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="center" data-editable="html" style="Margin:0;padding-top:10px;padding-left:10px;padding-right:10px;padding-bottom:20px"><span class="es-button-border" style="border-style:solid;border-color:#E4E8EA #E4E8EA #333333;background:#E4E8EA none repeat scroll 0% 0%;border-width:2px;display:inline-block;border-radius:0px;width:auto"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#333333;border-style:solid;border-color:#E4E8EA;border-width:0px 20px 2px;display:inline-block;background:#E4E8EA none repeat scroll 0% 0%;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center" rel="noopener">Гид по стилю</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" bgcolor="transparent" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6;width:600px" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center">
             <tbody><tr style="border-collapse:collapse">
              <td style="padding:0;Margin:0;background-position:center top" align="left">
               <!--[if mso]><table dir="rtl" style="width:600px" cellpadding="0" cellspacing="0"><tr><td dir="ltr" style="width:191px" valign="top"><![endif]-->
               <table cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:382px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" style="padding:0;Margin:0;width:240px">
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td align="right" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img class="product-image adapt-img" src="https://cdn.k-asap.com/emails/225a391ae6b6713797a1fe738a390b31.png" alt="White top" title="White top" height="292" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                         </tr>
                       </tbody></table></td>
                      <td align="left" style="padding:0;Margin:0;width:150px">
                       <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6" role="presentation">
                         <tbody><tr class="es-mobile-hidden" style="border-collapse:collapse">
                          <td class="es-m-txt-c" align="left" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img src="https://cdn.k-asap.com/emails/0642000d92eced356eaf6bf685098280.png" alt="Leather jacket" title="Leather jacket" width="120" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td dir="ltr" style="width:20px"></td><td dir="ltr" style="width:240px" valign="top"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td align="left" style="padding:0;Margin:0;width:191px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="right" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-left:10px;padding-right:10px"><h3 style="Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:georgia, times, 'times new roman', serif;font-size:20px;font-style:normal;font-weight:normal;color:#333333"><strong>Boss </strong></h3></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-l" align="right" data-editable="html" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333">Стеганая куртка выполнена из натуральной кожи. Небольшой слой искусственного утеплителя.<br><br><strong>Состав</strong>: Натуральная кожа - 100%</p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="right" class="es-m-txt-c" data-editable="html" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span style="color:#808080"><s style="text-decoration:line-through">47 500</s></span><span style="font-size:16px;color:#31CB4B"> ₽ 26 400</span></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="right" data-editable="html" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px"><span class="es-button-border" style="border-style:solid;border-color:#F6F6F6 #F6F6F6 #666666;background:#F6F6F6 none repeat scroll 0% 0%;border-width:2px;display:inline-block;border-radius:0px;width:auto"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#333333;border-style:solid;border-color:#F6F6F6;border-width:0px 1px 2px 5px;display:inline-block;background:#F6F6F6 none repeat scroll 0% 0%;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center" rel="noopener">Добавить в корзину</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="center" style="padding:20px;Margin:0">
                       <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6;width:600px" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center">
             <tbody><tr style="border-collapse:collapse">
              <td style="padding:0;Margin:0;background-position:center top" align="left">
               <!--[if mso]><table  style="width:600px" cellpadding="0" cellspacing="0"><tr><td style="width:190px" valign="top"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:150px">
                   <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6" role="presentation">
                     <tbody><tr class="es-mobile-hidden" style="border-collapse:collapse">
                      <td align="right" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/30adb062e98e602aceef8f44fe5d5cbe.png" alt="Leather jacket" title="Leather jacket" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic" width="125"></td>
                     </tr>
                   </tbody></table></td>
                  <td align="left" style="padding:0;Margin:0;width:240px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="center" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img class="product-image" src="https://cdn.k-asap.com/emails/01577d15c60ccf93e181daa23cbc00b2.png" alt="Jeans jacket" title="Jeans jacket" width="240" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td style="width:20px"></td><td style="width:240px" valign="top"><![endif]-->
               <table cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td align="left" style="padding:0;Margin:0;width:190px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-left:10px;padding-right:10px"><h3 style="Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:georgia, times, 'times new roman', serif;font-size:20px;font-style:normal;font-weight:normal;color:#333333"><strong>Polo Ralph Lauren</strong></h3></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-l" align="left" data-editable="html" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span class="product-description">Ветровка выполнена из тонкого непродуваемого текстиля, сетчатая подкладка.&nbsp;</span></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span class="product-description"><strong>Состав</strong>: Полиэстер - 100%</span></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="left" class="es-m-txt-c" data-editable="html" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span style="color:#808080"><s style="text-decoration:line-through">63 900</s></span><span style="font-size:16px;color:#31CB4B"> ₽ 36 990</span></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="left" data-editable="html" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px"><span class="es-button-border" style="border-style:solid;border-color:#F6F6F6 #F6F6F6 #666666;background:#F6F6F6 none repeat scroll 0% 0%;border-width:2px;display:inline-block;border-radius:0px;width:auto"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#333333;border-style:solid;border-color:#F6F6F6;border-width:0px 5px 2px 1px;display:inline-block;background:#F6F6F6 none repeat scroll 0% 0%;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center" rel="noopener">Добавить в корзину</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="padding:20px;Margin:0">
                       <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6;width:600px" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <!--[if mso]><table dir="rtl" style="width:600px" cellpadding="0" cellspacing="0"><tr><td dir="ltr" style="width:191px" valign="top"><![endif]-->
               <table cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:382px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" style="padding:0;Margin:0;width:240px">
                       <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td class="es-m-txt-c" align="right" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img class="product-image" src="https://cdn.k-asap.com/emails/646d4227d46518c0cb1dd8d194038982.png" alt="Light dress" title="Light dress" width="240" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                         </tr>
                       </tbody></table></td>
                      <td align="left" style="padding:0;Margin:0;width:150px">
                       <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6" role="presentation">
                         <tbody><tr class="es-mobile-hidden" style="border-collapse:collapse">
                          <td align="left" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/b47df7bbe97a4fb5e66d631e46530a5c.png" alt="Leather jacket" title="Leather jacket" height="319" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td dir="ltr" style="width:20px"></td><td dir="ltr" style="width:240px" valign="top"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td align="left" style="padding:0;Margin:0;width:191px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="right" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-left:10px;padding-right:10px"><h3 style="Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:georgia, times, 'times new roman', serif;font-size:20px;font-style:normal;font-weight:normal;color:#333333"><b>Weekend Max Mara</b></h3></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-l" align="right" data-editable="html" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span class="product-description">Пальто от премиум-бренда выполнено из тонкого драпа. Модель прямого силуэта с капюшоном.&nbsp;</span></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span class="product-description"><strong>Состав</strong>: Овечья шерсть - 100%</span></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="right" class="es-m-txt-c" data-editable="html" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span style="color:#808080"><s style="text-decoration:line-through">53 900</s></span><span style="font-size:16px;line-height:24px;color:#31CB4B"> ₽ 31&nbsp;990</span></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="right" data-editable="html" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px"><span class="es-button-border" style="border-style:solid;border-color:#F6F6F6 #F6F6F6 #666666;background:#F6F6F6 none repeat scroll 0% 0%;border-width:2px;display:inline-block;border-radius:0px;width:auto"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#333333;border-style:solid;border-color:#F6F6F6;border-width:0px 0px 2px 5px;display:inline-block;background:#F6F6F6 none repeat scroll 0% 0%;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center" rel="noopener">Добавить в корзину</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="center" style="padding:20px;Margin:0">
                       <table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6;width:600px" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <!--[if mso]><table  style="width:600px" cellpadding="0" cellspacing="0"><tr><td style="width:190px" valign="top"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p20b" align="left" style="padding:0;Margin:0;width:150px">
                   <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F6F6F6" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f6f6f6" role="presentation">
                     <tbody><tr class="es-mobile-hidden" style="border-collapse:collapse">
                      <td align="right" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img class="adapt-img" src="https://cdn.k-asap.com/emails/68c40e4b912ca6b3676d97d898b4d72c.png" alt="Leather jacket" title="Leather jacket" height="314" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                     </tr>
                   </tbody></table></td>
                  <td align="left" style="padding:0;Margin:0;width:240px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="center" style="padding:0;Margin:0;font-size:0px" data-editable="image"><img class="product-image" src="https://cdn.k-asap.com/emails/3395d5d57d875a1947e6f3611f9c7ef6.png" alt="Leather jacket" title="Leather jacket" width="240" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td style="width:20px"></td><td style="width:240px" valign="top"><![endif]-->
               <table cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td align="left" style="padding:0;Margin:0;width:190px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" data-editable="html" style="padding:0;Margin:0;padding-top:10px;padding-left:10px;padding-right:10px"><h3 style="Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:georgia, times, 'times new roman', serif;font-size:20px;font-style:normal;font-weight:normal;color:#333333"><strong>Tommy Hilfigher</strong></h3></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-l" align="left" data-editable="html" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span class="product-description">Пальто выполнено из плотного шерстяного текстиля без подкладки.<br><br><strong>Состав</strong>: Шерсть - 60%, Полиэстер - 25%, Полиамид - 15%.</span></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td align="left" class="es-m-txt-c" data-editable="html" style="Margin:0;padding-top:5px;padding-bottom:5px;padding-left:10px;padding-right:10px"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><span style="color:#808080"><s style="text-decoration:line-through">49 500</s></span><span style="font-size:16px;color:#31CB4B"> ₽ 24&nbsp;990</span></p></td>
                     </tr>
                     <tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="left" data-editable="html" style="Margin:0;padding-left:10px;padding-right:10px;padding-top:15px;padding-bottom:15px"><span class="es-button-border" style="border-style:solid;border-color:#F6F6F6 #F6F6F6 #666666;background:#F6F6F6 none repeat scroll 0% 0%;border-width:2px;display:inline-block;border-radius:0px;width:auto"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#333333;border-style:solid;border-color:#F6F6F6;border-width:0px 5px 2px 1px;display:inline-block;background:#F6F6F6 none repeat scroll 0% 0%;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center" rel="noopener">Добавить в корзину</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-content" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-content-body" cellspacing="0" cellpadding="0" bgcolor="transparent" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:#F1E5DF" width="100%" cellspacing="0" cellpadding="0" bgcolor="#f1e5df" role="presentation">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" data-editable="html" style="padding:0;Margin:0;padding-top:20px;padding-left:20px;padding-right:20px"><h3 style="Margin:0;line-height:24px;mso-line-height-rule:exactly;font-family:georgia, times, 'times new roman', serif;font-size:20px;font-style:normal;font-weight:normal;color:#333333">О каких новинках вы хотели бы получать уведомления?</h3></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td style="padding:0;Margin:0;padding-bottom:15px;background-color:#F1E5DF" bgcolor="#f1e5df" align="left">
               <!--[if mso]><table style="width:600px" cellpadding="0" cellspacing="0"><tr><td style="width:155px"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p0r es-m-p20b" align="center" style="padding:0;Margin:0;width:135px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><br></p></td>
                     </tr>
                   </tbody></table></td>
                  <td class="es-hidden" style="padding:0;Margin:0;width:20px"></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td style="width:155px"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p20b" align="center" style="padding:0;Margin:0;width:135px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="center" data-editable="button" style="padding:0;Margin:0;padding-left:10px;padding-right:10px;padding-top:15px"><span class="es-button-border" style="border-style:solid;border-color:#F1E5DF #F1E5DF #666666;background:#F1E5DF none repeat scroll 0% 0%;border-width:2px;display:inline-block;border-radius:0px;width:auto;border-right:0px solid #F1E5DF;border-left:0px solid #F1E5DF;border-bottom:2px solid #666666"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#333333;border-style:solid;border-color:#F1E5DF;border-width:0px 5px 2px;display:inline-block;background:#F1E5DF none repeat scroll 0% 0%;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center" rel="noopener">Мужчинам</a></span></td>
                     </tr>
                   </tbody></table></td>
                  <td class="es-hidden" style="padding:0;Margin:0;width:20px"></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td style="width:135px"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p20b" align="center" style="padding:0;Margin:0;width:135px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td class="es-m-txt-c" align="center" data-editable="button" style="padding:0;Margin:0;padding-left:10px;padding-right:10px;padding-top:15px"><span class="es-button-border" style="border-style:solid;border-color:#F1E5DF #F1E5DF #666666;background:#F1E5DF none repeat scroll 0% 0%;border-width:2px;display:inline-block;border-radius:0px;width:auto;border-right:0px solid #F1E5DF;border-left:0px solid #F1E5DF;border-bottom:2px solid #666666"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" class="es-button" target="_blank" style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:arial, 'helvetica neue', helvetica, sans-serif;font-size:16px;color:#333333;border-style:solid;border-color:#F1E5DF;border-width:0px 5px 2px;display:inline-block;background:#F1E5DF none repeat scroll 0% 0%;border-radius:0px;font-weight:normal;font-style:normal;line-height:19px;width:auto;text-align:center" rel="noopener">Женщинам</a></span></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td style="width:20px"></td><td style="width:135px"><![endif]-->
               <table class="es-right" cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right">
                 <tbody><tr style="border-collapse:collapse">
                  <td align="center" style="padding:0;Margin:0;width:135px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:14px;font-family:verdana, geneva, sans-serif;line-height:21px;color:#333333"><br></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table>
       <table class="es-footer" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;table-layout:fixed !important;width:100%;background-color:transparent;background-repeat:repeat;background-position:center top">
         <tbody><tr style="border-collapse:collapse">
          <td align="center" style="padding:0;Margin:0">
           <table class="es-footer-body" cellspacing="0" cellpadding="0" align="center" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;background-color:transparent;width:600px">
             <tbody><tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0;padding-top:10px">
               <!--[if mso]><table style="width:600px" cellpadding="0" cellspacing="0"><tr><td style="width:207px"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p0r es-m-p20b" align="center" style="padding:0;Margin:0;width:187px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="padding:20px;Margin:0">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                  <td class="es-hidden" style="padding:0;Margin:0;width:20px"></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td style="width:187px"><![endif]-->
               <table class="es-left" cellspacing="0" cellpadding="0" align="left" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:left">
                 <tbody><tr style="border-collapse:collapse">
                  <td class="es-m-p20b" align="center" style="padding:0;Margin:0;width:187px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="padding:0;Margin:0;font-size:0px">
                       <table class="es-table-not-adapt es-social" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td valign="top" align="center" data-editable="image" style="padding:0;Margin:0;padding-right:10px"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:11px;text-decoration:underline;color:#333333" target="_blank" rel="noopener"><img title="Twitter" src="https://cdn.k-asap.com/emails/b7e07680c8e0f9995232f12ec7f6530a.png" alt="Tw" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></a></td>
                          <td valign="top" align="center" data-editable="image" style="padding:0;Margin:0;padding-right:10px"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:11px;text-decoration:underline;color:#333333" target="_blank" rel="noopener"><img title="Facebook" src="https://cdn.k-asap.com/emails/49df7d750c23d884fb50bc2e7f55c0c6.png" alt="Fb" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></a></td>
                          <td valign="top" align="center" data-editable="image" style="padding:0;Margin:0;padding-right:10px"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:11px;text-decoration:underline;color:#333333" target="_blank" rel="noopener"><img title="Youtube" src="https://cdn.k-asap.com/emails/3a9f6e4a66626012e27d75b592c98d6b.png" alt="Yt" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></a></td>
                          <td valign="top" align="center" data-editable="image" style="padding:0;Margin:0;padding-right:10px"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:11px;text-decoration:underline;color:#333333" target="_blank" rel="noopener"><img title="Linkedin" src="https://cdn.k-asap.com/emails/e763b7f6ce8bdc6fd3658116a92be547.png" alt="In" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></a></td>
                          <td valign="top" align="center" data-editable="image" style="padding:0;Margin:0"><a href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:11px;text-decoration:underline;color:#333333" target="_blank" rel="noopener"><img title="Pinterest" src="https://cdn.k-asap.com/emails/27e5839af769350c8848892d8e834789.png" alt="P" width="32" style="display:block;border:0;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic"></a></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td><td style="width:20px"></td><td style="width:186px"><![endif]-->
               <table class="es-right" cellspacing="0" cellpadding="0" align="right" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px;float:right">
                 <tbody><tr style="border-collapse:collapse">
                  <td align="center" style="padding:0;Margin:0;width:186px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="padding:20px;Margin:0">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid #CCCCCC;background:none;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table>
               <!--[if mso]></td></tr></table><![endif]--></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td align="left" style="padding:0;Margin:0">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:600px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="center" style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:20px;padding-right:20px">
                       <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                         <tbody><tr style="border-collapse:collapse">
                          <td style="padding:0;Margin:0;border-bottom:1px solid transparent;height:1px;width:100%;margin:0px"></td>
                         </tr>
                       </tbody></table></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
             <tr style="border-collapse:collapse">
              <td style="Margin:0;padding-top:10px;padding-bottom:10px;padding-left:10px;padding-right:10px;background-color:#E4E8EA" bgcolor="#e4e8ea" align="left">
               <table width="100%" cellspacing="0" cellpadding="0" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                 <tbody><tr style="border-collapse:collapse">
                  <td valign="top" align="center" style="padding:0;Margin:0;width:580px">
                   <table width="100%" cellspacing="0" cellpadding="0" role="presentation" style="mso-table-lspace:0pt;mso-table-rspace:0pt;border-collapse:collapse;border-spacing:0px">
                     <tbody><tr style="border-collapse:collapse">
                      <td align="left" data-editable="html" style="padding:0;Margin:0"><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:11px;font-family:verdana, geneva, sans-serif;line-height:17px;color:#666666">Это письмо от магазина Fashion shop, 1900 Several Avenue, Sule, Seattle, WA 28203. Политика конфиденциальности.</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:11px;font-family:verdana, geneva, sans-serif;line-height:17px;color:#666666"><br></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:11px;font-family:verdana, geneva, sans-serif;line-height:17px;color:#666666">Вы получили это письмо, поскольку заходили на наш сайт и подтвердили желание получать регулярные уведомления о новинках. Удостоверьтесь, что наши письма доходят до вас, а не попадают в spam или Junk, добавьте наш адрес в список контактов.</p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:11px;font-family:verdana, geneva, sans-serif;line-height:17px;color:#666666"><br>Чтобы отписаться,&nbsp; перейдите <a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:11px;text-decoration:underline;color:#333333;text-align:center;line-height:17px" rel="noopener">по этой ссылке</a></p><p style="Margin:0;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-size:11px;font-family:verdana, geneva, sans-serif;line-height:17px;color:#666666">Vectors graphic designed by <a target="_blank" href="{{url_for('fish_click', mail_temp=mail_temp)}}" style="-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;font-family:verdana, geneva, sans-serif;font-size:11px;text-decoration:underline;color:#333333" rel="noopener">Freepik.</a></p></td>
                     </tr>
                   </tbody></table></td>
                 </tr>
               </tbody></table></td>
             </tr>
           </tbody></table></td>
         </tr>
       </tbody></table></td>
     </tr>
   </tbody></table>
  </div>
 
</body></html>