{% extends "base.html" %}
{% block content %}
<div class="centrobox">
	<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
		<form class="login100-form validate-form" action="" method="POST">
			{{ form.csrf_token() }}
			{{ form.hidden_tag() }}
			<span class="login100-form-title p-b-55">
				Создание группы
			</span>
			<div class="wrap-input100 validate-input m-b-16" data-validate = "Имя должен быть больше 4 символов">
				<!-- <input class="input100" type="text" name="email" placeholder="Email"> -->
				{{ form.name(class="input100", placeholder="Имя") }}
				{% for error in form.name.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-list"></span>
				</span>
			</div>
			
			<div class="container-login100-form-btn p-t-25">
				<!--
				<button class="login100-form-btn">
					Login
				</button>
				-->
				{{ form.submit(class="login100-form-btn") }}
			</div>
		</form>
	</div>
</div>
{% endblock %}