{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script> 
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>
<form class="" action="" method="POST" autocomplete="off">
<div class="container-fluid" style="padding-top: 10px;">
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Создание теста 
	    </div>
	    <div class="card-body">
	    	<div class="wrap-input100 validate-input m-b-16" data-validate = "Имя должен быть меньше 4 символов">
				<input class="input100" type="text" name="test_title" placeholder="Название" required>
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-pencil"></span>
				</span>
			</div>
			<div class="wrap-input100 validate-input m-b-16"  data-validate = "Имя должен быть больше 4 символов">
				<textarea class="input100" placeholder="Описание" name="description" id="desc_form" style="height: 100px;">Описание</textarea>
				<span class="focus-input100"></span>
			</div>
			<div class="wrap-input100 m-b-16">
				<select class="input100" name="group" style="border: unset;">
					<option value=0>Без группы</option>
					{% for group in groups_db %}
						<option value={{group.id}}>{{group.group_title}}</option>
					{% endfor %}
				</select>
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-list"></span>
				</span>
			</div>
			
	    </div>
	</div>
</div>

<div class="container-fluid">
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Вопросы
	    </div>
	    <div class="card-body" id="card_body_1">
	    	<div class="wrap-input100 m-b-16 data-block">
    			<div class="wrap-input100 m-b-16">
					<input class="input100 anser" type="text" name="ques1" placeholder="Вопрос" required>
					<span class="focus-input100"></span>
				</div>
				<div id="ans1">
					<div class="row">
						<div class="col-1 in-items-center">
							<strong>1</strong> 
						</div>
						<div class="col">
							<div class="wrap-input100 m-b-16">
								<input class="input100 anser" type="text" name="ques1_ans1" placeholder="Ответ" required>
								<span class="focus-input100"></span>
							</div>
						</div>
						<div class="col-1 in-items-center">
							<input name="ques1_rightans" type="radio" value="ans1" checked>
						</div>
					</div>
					
					<div class="row">
						<div class="col-1 in-items-center">
							<strong>2</strong> 
						</div>
						<div class="col">
							<div class="wrap-input100 m-b-16">
								<input class="input100 anser" type="text" name="ques1_ans2" placeholder="Ответ" required>
								<span class="focus-input100"></span>
							</div>
						</div>
						<div class="col-1 in-items-center">
							<input name="ques1_rightans" type="radio" value="ans2">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col"></div>
					<div class="col-4" id="ques1_addans">
						<button type="button" name="ques1_addans" id="ques1_addans_btn" onclick="add_ans(this);" class="btn btn-secondary my-std-btn in-items-center" data-ques="1" data-ans="3">Добавить ответ</button>
					</div>
					<div class="col"></div>
				</div>
			</div>
			<div class="row" id="ques1_addques">
				<div class="col"></div>
				<div class="col-4">
					<button type="button" name="ques1_addques" id="ques1_addques_btn" onclick="add_ques(this);" class="btn btn-secondary my-std-btn in-items-center" data-ques="1">Добавить вопрос</button>
				</div>
				<div class="col"></div>
			</div>
	    </div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">
		<div class="col"></div>
		<div class="col-12">
			<div class="card mb-4">
			    <div class="card-header">
			        <i class="fas fa-table mr-1"></i>
			        Порог
			    </div>
			    <div class="card-body" id="card_body_2">
			    	<div class="row">
			    		<div class="col-4">
			    			<div class="wrap-input100 m-b-16">
								<input class="input100" type="number" min="1" step="1" required name="porog" value="1" placeholder="Порог" style="padding: 0 30px 0 20px; font-size: 42px;" onchange="showPercent(this)" required>
								<span class="focus-input100"></span>
							</div>
			    			
			    		</div>
			    		<div class="col-1">
			    			<font size="50">/</font>
			    			<font size="50" id="ques_count">1</font>
			    		</div>
			    		<div class="col in-items-center">
			    			<font size="50" id="percet">100%</font>
			    		</div>
			    		<div class="col-4 in-items-center">
			    			<button type="subbmit" name="btn_submit" value="1" class="btn btn-secondary my-std-btn" style="width: 100%;">Создать</button>
			    		</div>
			    	</div>
			    </div>
			</div>
		</div>
		<div class="col"></div>
	</div>
</div>
</form>


<script type="text/javascript">
$(document).ready(function() {
	$('#desc_form').removeAttr("required");
	$('.nicEdit-panelContain').parent().width('100%');
	$('.nicEdit-panelContain').parent().next().width('100%');
	$('.nicEdit-main').width('99%');
	$('.nicEdit-main').parent().css('width', "100%");
	// $('.nicEdit-main').bind("DOMSubtreeModified", function(e) {
 //    	console.log(e.target.innerHTML);
 //    	$('#text').empty();
 //    	$('#text').append(e.target.innerHTML);
	// });
});
</script>

<script src='{{ url_for("static", filename="js/add_test.js") }}'></script>
{% endblock %}