{% extends "base.html" %}
{% block content %}

<script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script>

<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<style type="text/css">
.nicEdit-main{
     background-color: white;
}
</style>

<form class="" action="" method="POST" enctype="multipart/form-data">
<div class="container-fluid" style="padding-top: 10px;">
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fa fa-wrench mr-1"></i>
	        Создание курса
	    </div>
	    <div class="card-body">
	    	<div class="wrap-input100 validate-input m-b-16" data-validate = "Имя должен быть меньше 4 символов">
				<input class="input100" type="text" name="course_title" placeholder="Название">
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-pencil"></span>
				</span>
			</div>
			<div class="wrap-input100 validate-input m-b-16">
				<textarea class="input100" placeholder="Описание" name="description" id="desc_form" style="height: 100px;">Описание</textarea>
				<span class="focus-input100"></span>
			</div>
			<div class="row">
			<div class="col">
			<div class="wrap-input100 m-b-16">
				<select class="input100" name="group" style="border: unset;">
					<option value=0>Без группы</option>
					{% for group in groups_db %}
						<option value={{group.id}}>{{group.group_title}}</option>
					{% endfor %}
				</select>
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-list"></span>
				</span>
			</div>
			</div>
			<div class="col-2">
				<button type="subbmit" name="btn_submit" value="1" class="login100-form-btn">Создать</button>
	    	</div>
	    	</div>
	    </div>
	</div>
	<div id="construkt">
	<!-- <div class="container-fluid"> -->
		<div class="card mb-4">
		    <div class="card-header">
		        <i class="fa fa-file mr-1"></i>
		        Страница 1
		    </div>
		    <div class="card-body" id="card_body_1">
		    	<div class="wrap-input100 m-b-16 data-block">
		    		<div class="row">
		    			<div class="col">
		    				<div class="wrap-input100 m-b-16">
		    					<input name="page1_block1_radio" type="radio" value="img_top">Картинка сверху
	    						<input name="page1_block1_radio" type="radio" value="img_right">Картинка справа
	    						<input name="page1_block1_radio" type="radio" value="no_img" onclick="dropfile(this)" id="dropfile_1" class="dropfile" checked>Без картинки
							</div>
							<div class="wrap-input100 m-b-16">
								<input type="file" class="fileloader" id="file_1" onchange="loadfile(this)"  name="page1_block1_img" multiple accept="image/*,image/jpeg,image/png">
							</div>
					
						
							<div class="wrap-input100 m-b-16">
								<textarea style="width: 100%" class="input100 add-course-text" id="page1_block1_text" name="page1_block1_text">
									Текст блока
								</textarea>
							</div>
						</div>
						<div class="col in-items-center">
							<img id="preview_1" class="adapt-img adapt-img-my" src="{{url_for('static', filename='images/outfile.png')}}" width="400">
							
							<!-- <div class="course-msg-block" style="width: 470px; min-height: 470px;">
								<div class="row course-text">
									ТЕКСТ
								</div>
								<div class="row" style="padding-bottom: 5px;">
									<div class="col">			
									</div>
									<div class="col-5">
										<button  type="button" class="btn btn-secondary my-std-btn">Дальше</button>
									</div>
								</div>
							</div> -->
							<!-- 
							<div class="course-msg-block" style="width: 470px;">
								<div class="row" style="height: 200px; text-align: center;">
									<img class="course-img" src="/static/images/courses/05-06-21_22-55-26_Python-2.jpg">
								</div>
								<div class="course-ander-img">
									<div class="row course-text" id="text" style="width: 470px;">
										Текст
									</div>
									<div class="row">
										<div class="col">			
										</div>
										<div class="col-5">
											<button  type="button" class="btn btn-secondary my-std-btn">Дальше</button>
										</div>
									</div>
								</div>
							</div> -->
						</div>
					</div>
				</div>
				<div class="wrap-input100 m-b-16">
					<button type="button" name="page1_addblock" id="page1_addblock" data-page="1" data-block="1" onclick="add_block(this);" class="btn btn-secondary my-std-btn">Добавить блок</button>
				</div>
		    </div>
		</div>
	<!-- </div> -->
	<div class="row" style="margin-bottom: 5px;">
		<div class="col"></div>
		<div class="col-4">
			<button type="button" id="page1_addpage" data-page="1" onclick="add_page(this);" class="btn btn-secondary my-std-btn in-items-center">Добавить страницу</button>
		</div>
		<div class="col"></div>
	</div>
</div>
</div>

</form>


<script type="text/javascript">
$(document).ready(function() {
	$('#desc_form').removeAttr("required");
	$('.nicEdit-panelContain').parent().width('100%');
	$('.nicEdit-panelContain').parent().next().width('100%');
	$('.nicEdit-main').width('99%');
	$('.nicEdit-main').parent().css('width', "100%");
	/* $('.nicEdit-main').bind("DOMSubtreeModified", function(e) {
    	console.log(e.target.innerHTML);
    	$('#text').empty();
    	$('#text').append(e.target.innerHTML);
	}); */
});

</script>

<script src='{{ url_for("static", filename="js/add_course.js") }}'></script>
{% endblock %}