{% extends "base.html" %}
{% block content %}


<script type="text/javascript" src="//js.nicedit.com/nicEdit-latest.js"></script> 
<script type="text/javascript">
	bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
</script>

<div class="centrobox">
	<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30" style="width: 600px;">
		<form class="login100-form validate-form" action="" method="POST">
			{{ form.csrf_token() }}
			{{ form.hidden_tag() }}
			<span class="login100-form-title p-b-55">
				Создание группы курсов
			</span>
			<div class="wrap-input100 validate-input m-b-16" data-validate = "Имя должен быть больше 4 символов">
				<!-- <input class="input100" type="text" name="email" placeholder="Email"> -->
				{{ form.name(class="input100", placeholder="Название") }}
				{% for error in form.name.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-menu"></span>
				</span>
			</div>

			<div class="wrap-input100 m-b-16">
				<!-- <input class="input100" type="text" name="email" placeholder="Email"> -->
				{{ form.description(class="input100", placeholder="Описание", style="height: 200px", id="desc_form") }}
				{% for error in form.description.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<!--
				<span class="symbol-input100">
					<span class="lnr lnr-users"></span>
				</span>
			-->
			</div>
			
			<div class="container-login100-form-btn p-t-25">
				<!--
				<button class="login100-form-btn">
					Login
				</button>
				-->
				{{ form.submit(class="login100-form-btn") }}
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
	$('#desc_form').removeAttr("required");
	$('#desc_form').append("Описание");
	$('.nicEdit-panelContain').parent().width('100%');
	$('.nicEdit-panelContain').parent().next().width('100%');
	$('.nicEdit-main').width('99%');
	$('.nicEdit-main').parent().css('width', "100%");
	// $('.nicEdit-main').bind("DOMSubtreeModified", function(e) {
 //    	console.log(e.target.innerHTML);
 //    	$('#text').empty();
 //    	$('#text').append(e.target.innerHTML);
	// });
});
</script>


{% endblock %}