{% extends "base.html" %}
{% block content %}
<div class="centrobox">
	<div class="wrap-login100 p-l-50 p-r-50 p-t-77 p-b-30">
		<form class="login100-form validate-form" action="" method="POST">
			{{ form.csrf_token() }}
			{{ form.hidden_tag() }}
			<span class="login100-form-title p-b-55">
				Создание пользователя
			</span>
			<div class="wrap-input100 validate-input m-b-16" data-validate = "Логин должен быть больше 4 символов">
				<!-- <input class="input100" type="text" name="email" placeholder="Email"> -->
				{{ form.username(class="input100", placeholder="Логин") }}
				{% for error in form.username.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-user"></span>
				</span>
			</div>

			<div class="wrap-input100 validate-input m-b-16" data-validate = "Неверный формат">
				<!-- <input class="input100" type="password" name="pass" placeholder="Password"> -->
				{{ form.email(class="input100", placeholder="Почта") }}
				{% for error in form.email.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-envelope"></span>
				</span>
			</div>

			<div class="wrap-input100 m-b-16">
				{{ form.first_name(class="input100", placeholder="Имя") }}
				{% for error in form.first_name.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-users"></span>
				</span>
			</div>

			<div class="wrap-input100 m-b-16">
				{{ form.second_name(class="input100", placeholder="Фамилия") }}
				{% for error in form.second_name.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-users"></span>
				</span>
			</div>

			<div class="wrap-input100 m-b-16">
				{{ form.third_name(class="input100", placeholder="Отчество") }}
				{% for error in form.third_name.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-users"></span>
				</span>
			</div>

			<div class="wrap-input100 validate-input m-b-16" data-validate = "Group is required">
				{{ form.group(class="input100", style="border: unset;") }}
				{% for error in form.group.errors %}
					<span style="color: red;">[{{ error }}]</span>
				{% endfor %}
				<span class="focus-input100"></span>
				<span class="symbol-input100">
					<span class="lnr lnr-list"></span>
				</span>
			</div>
			
			<div class="container-login100-form-btn p-t-25">
				<!--
				<button class="login100-form-btn">
					Login
				</button>
				-->
				{{ form.submit(class="login100-form-btn") }}
			</div>
		</form>
	</div>
</div>
{% endblock %}