<html lang="ru">
    <head>
      <meta charset="utf-8">
      {% if title %}
      <title>{{ title }}</title>
      {% else %}
      <title>Knowledge Shield</title>
      {% endif %}

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

{% if not login %}
<link href='{{ url_for("static", filename="css/styles.css") }}' rel="stylesheet" />
<link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
{% endif %}

<!--===============================================================================================-->  
  <link rel="icon" type="image/png" href='{{ url_for("static", filename="images/icons/favicon.ico") }}'/>
<!--===============================================================================================-->
<!--  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/bootstrap/css/bootstrap.min.css") }}'> -->
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="fonts/font-awesome-4.7.0/css/font-awesome.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="fonts/Linearicons-Free-v1.0.0/icon-font.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/animate/animate.css") }}'>
<!--===============================================================================================-->  
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/css-hamburgers/hamburgers.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="vendor/select2/select2.min.css") }}'>
<!--===============================================================================================-->
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/util.css") }}'>
  <link rel="stylesheet" type="text/css" href='{{ url_for("static", filename="css/main.css") }}'>
<!--===============================================================================================-->





    </head>
    {% if login %}
    <body>
    {% else %}
    <body class="sb-nav-fixed">
    {% endif %}
<script src='{{ url_for("static", filename="vendor/jquery/jquery-3.2.1.min.js") }}'></script>
        {% if not login  %}
        <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark" style="background: -webkit-linear-gradient(163deg, #0250c5, #d43f8d)">
            <a class="navbar-brand" href="{{url_for('home')}}">Knowledge Shield</a>
            <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button>
            <div class="navbar-brand d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
              {{current_user.username}}
            </div>
            <ul class="navbar-nav ml-auto ml-md-0"> <!-- ml-md-0 -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="#">Настройки</a>
                        <a class="dropdown-item" href="#">Логирование</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{url_for('logout')}}">Выход</a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="layoutSidenav">
            <div id="layoutSidenav_nav">
                <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                    <div class="sb-sidenav-menu">
                        <div class="nav">
                            <div class="sb-sidenav-menu-heading">Core</div>
                            {% if current_user.role == 2 %}
                            <a class="nav-link" href="{{url_for('home')}}">
                                <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                                Дэшборд
                            </a>
                            {% else %}
                            <a class="nav-link" href="{{url_for('user', username=current_user.username)}}">
                                <div class="sb-nav-link-icon"><i class="fa fa-address-card"></i></div>
                                Личная страница
                            </a>
                            {% endif %}
                            <a class="nav-link" href="{{url_for('courses')}}">
                                <div class="sb-nav-link-icon"><i class="fa fa-tasks"></i></div>
                                Курсы
                            </a>
                            {% if current_user.role == 2 %}
                            <a class="nav-link" href="{{url_for('send_course')}}">
                                <div class="sb-nav-link-icon"><i class="fa fa-podcast"></i></div>
                                Назначить
                            </a>
                            {% endif %}
                            {% if current_user.role == 2 %}
                            <div class="sb-sidenav-menu-heading">Interface</div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                                <div class="sb-nav-link-icon"><i class="fa fa-cog"></i></div>
                                Создать
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{url_for('add_user')}}">Пользователя</a>
                                    <a class="nav-link" href="{{url_for('add_group')}}">Группу пользователей</a>
                                    <a class="nav-link" href="{{url_for('add_coursegroup')}}">Группу курсов</a>
                                    <a class="nav-link" href="{{url_for('add_course')}}">Курс</a>
                                    <a class="nav-link" href="{{url_for('add_test')}}">Тест</a>
                                    
                                </nav>
                            </div>
                            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseFish" aria-expanded="false" aria-controls="collapseFish">
                                <div class="sb-nav-link-icon"><i class="fa fa-envelope-open"></i></div>
                                Моделирование фишинга
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" id="collapseFish" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <a class="nav-link" href="{{url_for('fish_start')}}">Запуск</a>
                                    <a class="nav-link" href="{{url_for('fish_options')}}">Настройка</a>
                                    <a class="nav-link" href="{{url_for('mail_temlates')}}">Шаблоны писем</a>
                                </nav>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                    <!--
                    <div class="sb-sidenav-footer">
                        <div class="small">Logged in as:</div>
                        Start Bootstrap
                    </div>
                  -->
                </nav>
            </div>

        <div id="layoutSidenav_content" style="background: #f6f6f6">
            <main>
        {% endif %}

        {% block content %}
        {% endblock %}

        {% if not login %}
            </main>
          </div>
        </div><!-- #f6f6f6 -->
        {% endif %}






<!-- Modal -->
<div class="modal fade show" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-model="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title login100-form-title" id="exampleModalLabel">Уведомление</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="text-align: center;">
        {% for category, message in get_flashed_messages(with_categories=true) %}
          <spam class="my-txt" style="width: 100%;">{{ message }}</spam>
        {% endfor %}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary my-std-btn" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>

            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>


{% if get_flashed_messages() %}
<script type="text/javascript">
  var myModal = new bootstrap.Modal(document.getElementById('exampleModal'), {
    keyboard: false
  })
  myModal.show()
</script>
{% endif %}

<!--===============================================================================================-->
  <script src='{{ url_for("static", filename="vendor/bootstrap/js/popper.js") }}'></script>
  <script src='{{ url_for("static", filename="vendor/bootstrap/js/bootstrap.min.js") }}'></script>
<!--===============================================================================================-->
  <script src='{{ url_for("static", filename="vendor/select2/select2.min.js") }}'></script>
<!--===============================================================================================-->
  <script src='{{ url_for("static", filename="js/main.js") }}'></script>

{% if not login %}
<!-- <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script> -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<script src='{{ url_for("static", filename="js/scripts.js") }}'></script>


<script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>
<script src='{{ url_for("static", filename="demo/datatables-demo.js") }}'></script>
{% endif %}

<script type="text/javascript">
//$(document).ready(function() {
  $('.table-bordered').DataTable({
      language: {
      "processing": "Подождите...",
      "search": "Поиск:",
      "lengthMenu": "Показать _MENU_ записей",
      "info": "Записи с _START_ до _END_ из _TOTAL_ записей",
      "infoEmpty": "Записи с 0 до 0 из 0 записей",
      "infoFiltered": "(отфильтровано из _MAX_ записей)",
      "loadingRecords": "Загрузка записей...",
      "zeroRecords": "Записи отсутствуют.",
      "emptyTable": "В таблице отсутствуют данные",
      "paginate": {
          "first": "Первая",
          "previous": "Предыдущая",
          "next": "Следующая",
          "last": "Последняя"
      },
      "aria": {
          "sortAscending": ": активировать для сортировки столбца по возрастанию",
          "sortDescending": ": активировать для сортировки столбца по убыванию"
      },
      "select": {
          "rows": {
              "_": "Выбрано записей: %d",
              "0": "Кликните по записи для выбора",
              "1": "Выбрана одна запись"
          },
          "1": "%d ряд выбран",
          "_": "%d ряда(-ов) выбрано",
          "cells": {
              "1": "1 ячейка выбрана",
              "_": "Выбрано %d ячеек"
          },
          "columns": {
              "1": "1 столбец выбран",
              "_": "%d столбцов выбрано"
          }
      },
      "searchBuilder": {
          "conditions": {
              "string": {
                  "startsWith": "Начинается с",
                  "contains": "Содержит",
                  "empty": "Пусто",
                  "endsWith": "Заканчивается на",
                  "equals": "Равно",
                  "not": "Не",
                  "notEmpty": "Не пусто"
              },
              "date": {
                  "after": "После",
                  "before": "До",
                  "between": "Между",
                  "empty": "Пусто",
                  "equals": "Равно",
                  "not": "Не",
                  "notBetween": "Не между",
                  "notEmpty": "Не пусто"
              },
              "number": {
                  "empty": "Пусто",
                  "equals": "Равно",
                  "gt": "Больше чем",
                  "gte": "Больше, чем равно",
                  "lt": "Меньше чем",
                  "lte": "Меньше, чем равно",
                  "not": "Не",
                  "notEmpty": "Не пусто",
                  "between": "Между",
                  "notBetween": "Не между ними"
              },
              "array": {
                  "equals": "Равно",
                  "empty": "Пусто",
                  "contains": "Содержит",
                  "not": "Не равно",
                  "notEmpty": "Не пусто",
                  "without": "Без"
              }
          },
          "data": "Данные",
          "deleteTitle": "Удалить условие фильтрации",
          "logicAnd": "И",
          "logicOr": "Или",
          "title": {
              "0": "Конструктор поиска",
              "_": "Конструктор поиска (%d)"
          },
          "value": "Значение",
          "add": "Добавить условие",
          "button": {
              "0": "Конструктор поиска",
              "_": "Конструктор поиска (%d)"
          },
          "clearAll": "Очистить всё",
          "condition": "Условие"
      },
      "searchPanes": {
          "clearMessage": "Очистить всё",
          "collapse": {
              "0": "Панели поиска",
              "_": "Панели поиска (%d)"
          },
          "count": "{total}",
          "countFiltered": "{shown} ({total})",
          "emptyPanes": "Нет панелей поиска",
          "loadMessage": "Загрузка панелей поиска",
          "title": "Фильтры активны - %d"
      },
      "thousands": ",",
      "buttons": {
          "pageLength": {
              "_": "Показать 10 строк",
              "-1": "Показать все ряды",
              "1": "Показать 1 ряд"
          },
          "pdf": "PDF",
          "print": "Печать",
          "collection": "Коллекция <span class=\"ui-button-icon-primary ui-icon ui-icon-triangle-1-s\"><\/span>",
          "colvis": "Видимость столбцов",
          "colvisRestore": "Восстановить видимость",
          "copy": "Копировать",
          "copyKeys": "Нажмите ctrl or u2318 + C, чтобы скопировать данные таблицы в буфер обмена.  Для отмены, щелкните по сообщению или нажмите escape.",
          "copySuccess": {
              "1": "Скопирована 1 ряд в буфер обмена",
              "_": "Скопировано %ds рядов в буфер обмена"
          },
          "copyTitle": "Скопировать в буфер обмена",
          "csv": "CSV",
          "excel": "Excel"
      },
      "decimal": ".",
      "infoThousands": ",",
      "autoFill": {
          "cancel": "Отменить",
          "fill": "Заполнить все ячейки <i>%d<i><\/i><\/i>",
          "fillHorizontal": "Заполнить ячейки по горизонтали",
          "fillVertical": "Заполнить ячейки по вертикали",
          "info": "Пример автозаполнения"
      },
      "datetime": {
          "previous": "Предыдущий",
          "next": "Следующий",
          "hours": "Часы",
          "minutes": "Минуты",
          "seconds": "Секунды",
          "unknown": "Неизвестный",
          "amPm": [
              "AM",
              "PM"
          ]
      },
      "editor": {
          "close": "Закрыть",
          "create": {
              "button": "Новый",
              "title": "Создать новую запись",
              "submit": "Создать"
          },
          "edit": {
              "button": "Изменить",
              "title": "Изменить запись",
              "submit": "Изменить"
          },
          "remove": {
              "button": "Удалить",
              "title": "Удалить",
              "submit": "Удалить",
              "confirm": {
                  "_": "Вы точно хотите удалить %d строк?",
                  "1": "Вы точно хотите удалить 1 строку?"
              }
          },
          "multi": {
              "restore": "Отменить изменения"
          }
      }
    }
  });
//})
</script>


    </body>
</html>