{% extends "base.html" %}
{% block content %}

<div class="row" style="--bs-gutter-x: unset; margin-right: unset;">
	<div class="col-7">
		<div class="tab-content" id="nav-tabContent" style="margin: 10px;">
      		<div class="tab-pane fade show active" id="list-0" role="tabpanel" aria-labelledby="list-0-list">
      			<div class="card mb-4">
				    <div class="card-header">
				        <i class="fa fa-list mr-1"></i>
				        {{courses[0]["group"]}}
				    </div>
				    <div class="card-body">
      					<p class="my-txt">
      						В данном разделе содержатся курсы, которые не относятся ни к какой группе курсов.
      					</p>
						{% for course in courses[0]["courses"] %}
							<div class="row">
								<div class="course-block">
									<div style="height: 235px; overflow-y: auto;">
										<h3 style="font-family: Raleway-Black; text-transform: uppercase;">
											{{course.course_title}}
										</h3>
										{% autoescape false %}
											{{course.description}}
										{% endautoescape %}
									</div>
									<div class="row" style="margin-top: 3px;">
										<!--
										<div class="col-md"></div>
										<div class="col-3-md"> -->
											<a href="{{url_for('course', course_id=course.id)}}">
												<button  type="button" class="btn btn-secondary my-std-btn">Начать курс</button>
											</a>
										<!-- </div>
										<div class="col-3-md"> -->
											{% if course.id in progress %}
												<font style="color: green;">Пройден</font>
											{% else %}
												<font style="color: gray;">Не пройден</font>
											{% endif %}
										<!-- </div> -->
									</div>
								</div>
							</div>
						{% endfor %}
				    </div>
				</div>
      		</div>
			{% for group_id in courses %}
				{% if group_id != 0 %}
      				<div class="tab-pane fade" id="list-{{group_id}}" role="tabpanel" aria-labelledby="list-{{group_id}}-list">
      					<div class="card mb-4">
				    		<div class="card-header">
				    		    <i class="fa fa-list mr-1"></i>
				    		    {{courses[group_id]["group"].group_title}}
				    		    {% if courses[group_id]["group"].test != None %}
				    		    	{% if courses[group_id]["test_r"] == None or courses[group_id]["test_r"].result == 0 %}
				    		    	<a class="test-link" href="{{url_for('test', test_id=courses[group_id]['group'].test.id)}}">
				    		    		<strong>!  ПРОЙТИ ТЕСТ  !</strong>
				    		    		{% if courses[group_id]["test_r"] != None %}
				    		    			<font style="color: red;">
				    		    				{{courses[group_id]["test_r"].correct}}/{{courses[group_id]['group'].test.max_ans}}
				    		    			</font>
				    		    		{% endif %}
				    		    	</a>
				    		    	{% else %}
				    		    	<a class="test-link" href="{{url_for('test_result', test_id=courses[group_id]['group'].test.id)}}">
				    		    		<strong>ТЕСТ ПРОЙДЕН</strong>
				    		    		<font style="color: green;">
				    		    			{{courses[group_id]["test_r"].correct}}/{{courses[group_id]['group'].test.max_ans}}
				    		    		</font>
				    		    	</a>
				    		    	{% endif %}
				    		    {% endif %}
				    		</div>
				    		<div class="card-body">
				    			<p class="my-txt">
      								{% autoescape false %}
      								{{courses[group_id]["group"].description}}
      								{% endautoescape %}
								</p>
							{% for course in courses[group_id]["courses"] %}
								<div class="row">
									<div class="course-block">
										<div style="height: 235px; overflow-y: auto;">
											<h3 style="font-family: Raleway-Black; text-transform: uppercase;">
												{{course.course_title}}
											</h3>
											{% autoescape false %}
												{{course.description}}
											{% endautoescape %}
										</div>
										<a href="{{url_for('course', course_id=course.id)}}">
											<button type="button" class="btn btn-secondary my-std-btn">Начать курс</button>
										</a>
										{% if course.id in progress %}
											<font style="color: green;">Пройден</font>
										{% else %}
											<font style="color: gray;">Не пройден</font>
										{% endif %}
									</div>
								</div>
							{% endfor %}
					 		</div>
						</div>
      				</div>
      			{% endif %}
			{% endfor %}
    	</div>
<!--
		{% for group_id in courses %}
			<div id="group_{{group_id}}" class="group_block" style="opacity: 0; display: none; transition: opacity .15s linear;">
			{% for course in courses[group_id]["courses"] %}
				<div class="row">
					<div class="course-block">
						<h3>{{course.course_title}}</h3>
						{% autoescape false %}
							{{course.description}}
						{% endautoescape %}
						<a href="{{url_for('course', course_id=course[0])}}">
							<button  type="button" class="btn btn-secondary my-std-btn">Начать курс</button>
						</a>
						{% if course.id in progress %}
							<font style="color: green;">Пройден</font>
						{% else %}
							<font style="color: gray;">Не пройден</font>
						{% endif %}
					</div>
				</div>
			{% endfor %}
			</div>
		{% endfor %}

	-->
	</div>
	<div class="col-1"></div>
	<div class="col-4">
		<div class="list-group" id="list-tab" role="tablist" style="padding: 10px;">
			<a class="list-group-item list-group-item-action active" id="list-0-list" data-bs-toggle="list" href="#list-0" role="tab" aria-controls="0">{{courses[0]["group"]}}</a>
			{% for group_id in courses %}
				{% if group_id != 0 %}
	      			<a class="list-group-item list-group-item-action" id="list-{{group_id}}-list" data-bs-toggle="list" href="#list-{{group_id}}" role="tab	" aria-controls="{{group_id}}" >{{courses[group_id]["group"].group_title}}</a>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<script src='{{ url_for("static", filename="js/courses.js") }}'></script>
{% endblock %}