{% extends "base.html" %}
{% block content %}

<div class="container-fluid" style="padding-top: 10px;">
	<div class="row">
		<div class="col-4">
			<div class="card mb-4">
			    <div class="card-header">
			        <i class="fas fa-adjust mr-1"></i>
			        Доля инцидентов фишинговых атак за месяц
			    </div>
			    <div class="card-body">
			    	<canvas id="myChart" width="100" height="100" style="max-height: 400px;"></canvas>
			    </div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-4">
			    <div class="card-header">
			        <i class="fas fa-table mr-1"></i>
			        Кол-во инцидентов по датам
			    </div>
			    <div class="card-body">
			    	<canvas id="myChart2" width="400" height="200" style="max-height: 400px;"></canvas>
			    </div>
			</div>
		</div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Инциденты за месяц
	    </div>
	    <div class="card-body">
	    	<div class="table-responsive">
	            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Логин</th>
	                        <th>Имя</th>
	                        <th>Фамилия</th>
	                        <th>Атака</th>
	                        <th>Письмо</th>
	                        <th>Дата</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Логин</th>
	                        <th>Имя</th>
	                        <th>Фамилия</th>
	                        <th>Атака</th>
	                        <th>Письмо</th>
	                        <th>Дата</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for clik in cliks %}
	                    <tr>
	                        <td><a href="{{url_for('user', username=clik.users.username)}}"><strong>{{clik.users.username}}</strong></a></td>
	                        <td>{{clik.users.first_name}}</td>
	                        <td>{{clik.users.second_name}}</td>
	                        <td>{{clik.fish_attacks.attack_title}}</td>
	                        <td>{{clik.fish_mails.title}}</td>
	                        <td>{{clik.created_on}}</td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	    	</div>
	    </div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Пользователи
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Логин</th>
	                        <th>Почта</th>
	                        <th>Роль</th>
	                        <th>Группа</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Логин</th>
	                        <th>Почта</th>
	                        <th>Роль</th>
	                        <th>Группа</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for user in users %}
	                    <tr>
	                        <td><a href="{{url_for('user', username=user.username)}}"><strong>{{user.username}}</strong></a></td>
	                        <td>{{user.email}}</td>
	                        <td>{{user.role}}</td>
	                        <td>{{user.groups.group_name}}</td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Группы
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Имя группы</th>
	                        <th>Кол-во пользователей</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Имя группы</th>
	                        <th>Кол-во пользователей</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for group in groups %}
	                    <tr>
	                        <td>{{group.group_name}}</td>
	                        <td>{{group.len}}</td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src='{{ url_for("static", filename="js/index.js") }}'></script>


{% endblock %}