{% extends "work_base.html" %}
{% block content %}
<div class="course-msg-block" style="width: 600px;">
	<form class="" action="" method="POST" autocomplete="off">
		<div class="row course-text" style="padding-bottom: 40px;">
		{% for ques in structure %}
			<strong style="padding-bottom: 10px;" align="justify">
			Вопрос: 
			{{structure[ques]["ques"]}}
			</strong>
			{% for ans in structure[ques]["ans"] %}
			<div class="row">
				<div class="col-1 in-items-center">
  					<input type="radio" id="{{ques}}_{{ans}}" name="{{ques}}" value="{{structure[ques]['ans'][ans]}}" checked>
  				</div>
  				<div class="col">
  					<label for="{{ques}}_{{ans}}" align="justify" style="margin: auto;">{{structure[ques]['ans'][ans]}}</label>
  				</div>
  			</div>
  			{% endfor %}
		<hr>
		{% endfor %}
		</div>
		<div class="row">
			<div class="col">			
			</div>
			<div class="col-5">
				<button  type="submit" name="btn_submit" class="btn btn-secondary my-std-btn" style="position: absolute; right: 110px; bottom: 10px;">Готово</button>
			</div>
		</div>
	</form>
</div>
{% endblock %}

