{% extends "base.html" %}
{% block content %}

<div id="data" data-userid="{{user.id}}" style="display: none;"></div>

<div class="container-fluid" style="padding-top: 10px;">
	<div class="row">
		<div class="col-4">
			<div class="card mb-4">
			    <div class="card-header">
			        <i class="fa fa-address-card mr-1"></i>
			        Досье
			    </div>
			    <div class="card-body">
			    	<table width="100%" class="table table-striped">
			    		<tbody>
			    			<tr>
			    				<td><strong>Логин</strong></td>
			    				<td>{{user.username}}</td>
			    			</tr>
			    			<tr>
			    				<td><strong>Имя</strong></td>
			    				<td>{{user.first_name}}</td>
			    			</tr>
			    			<tr>
			    				<td><strong>Фамилия</strong></td>
			    				<td>{{user.second_name}}</td>
			    			</tr>
			    			<tr>
			    				<td><strong>Отчество</strong></td>
			    				<td>{{user.third_name}}</td>
			    			</tr>
			    			<tr>
			    				<td><strong>Группа</strong></td>
			    				<td>{{user.groups.group_name}}</td>
			    			</tr>
			    			<tr>
			    				<td><strong>Дата регистрации</strong></td>
			    				<td>{{user.created_on}}</td>
			    			</tr>
			    		</tbody>
			    	</table>
			    </div>
			</div>
		</div>
		<div class="col">
			<div class="card mb-4">
			    <div class="card-header">
			        <i class="fas fa-table mr-1"></i>
			        Кол-во инцидентов за месяц
			    </div>
			    <div class="card-body">
			    	<canvas id="myChart2" width="400" height="200" style="max-height: 400px;"></canvas>
			    </div>
			</div>
		</div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Инциденты за месяц
	    </div>
	    <div class="card-body">
	    	<div class="table-responsive">
	            <table class="table table-bordered" id="dataTable1" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Атака</th>
	                        <th>Письмо</th>
	                        <th>Дата</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Атака</th>
	                        <th>Письмо</th>
	                        <th>Дата</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for clik in cliks %}
	                    <tr>
	                        <td>{{clik.fish_attacks.attack_title}}</td>
	                        <td>{{clik.fish_mails.title}}</td>
	                        <td>{{clik.created_on}}</td>
	                    </tr>
	                    {% endfor %}
	                </tbody>
	            </table>
	    	</div>
	    </div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Назначенные курсы
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Название</th>
	                        <th>Тип</th>
	                        <th>Результат теста</th>
	                        <th>Дата назначения</th>
	                        <th>Дедлайн</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Название</th>
	                        <th>Тип</th>
	                        <th>Результат теста</th>
	                        <th>Дата назначения</th>
	                        <th>Дедлайн</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for group in all_courses %}
	                		{% if group == 0 %}
	                			{% for course in all_courses[group]["courses"] %}
	                				<tr>
	                        			<td>{{course["course"].course_title}}</td>
	                        			<td>Курс</td>
	                        			<td>Теста нет</td>
	                        			<td>{{course["date_start"]}}</td>
	                        			<td>{{course["deadline"]}}</td>
	                    			</tr>
	                    		{% endfor %}
	                		{% else %}
	                			<tr>
	                    		    <td>{{all_courses[group]["group"].group_title}}</td>
	                    		    <td>Группа курсов</td>
	                    		    {% if all_courses[group]["test_r"] != "Тест не прошел" and all_courses[group]["test_r"] != "Теста нет" %}
	                    		    	<td>Тест пройден</td>
	                    		    {% else %}
	                    		    	<td>{{all_courses[group]["test_r"]}}</td>
	                    		    {% endif %}
	                    		    <td>{{all_courses[group]["date_start"]}}</td>
	                    		    <td>{{all_courses[group]["deadline"]}}</td>
	                    		</tr>
	                    	{% endif %}
	                	{% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
	<div class="card mb-4">
	    <div class="card-header">
	        <i class="fas fa-table mr-1"></i>
	        Результаты тестов
	    </div>
	    <div class="card-body">
	        <div class="table-responsive">
	            <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
	                <thead>
	                    <tr>
	                        <th>Название теста</th>
	                        <th>Группа курсов</th>
	                        <th>Кол-во вопросов</th>
	                        <th>Порог</th>
	                        <th>Результаты</th>
	                    </tr>
	                </thead>
	                <tfoot>
	                    <tr>
	                        <th>Название теста</th>
	                        <th>Группа курсов</th>
	                        <th>Кол-во вопросов</th>
	                        <th>Порог</th>
	                        <th>Результаты</th>
	                    </tr>
	                </tfoot>
	                <tbody>
	                	{% for test in tests %}
	                		<tr>
	                			<td>{{tests[test]["test"].test_title}}</td>
	                			<td>{{tests[test]["test"].course_group.group_title}}</td>
	                			<td>{{tests[test]["test"].max_ans}}</td>
	                			<td>{{tests[test]["test"].porog}}</td>
	                			<td>
	                				<button type="button" class="btn btn-secondary my-std-btn" data-bs-toggle="modal" data-bs-target="#results{{test}}">
										Результаты
									</button>
	                			</td>
	                		</tr>
	                	{% endfor %}
	                </tbody>
	            </table>
	        </div>
	    </div>
	</div>
</div>




{% for test in tests %}
<div class="modal fade" id="results{{test}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="{{test}}Label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="{{test}}Label">{{tests[test]["test"].test_title}}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		<table width="100%" class="table table-striped">
			<thead>
	            <tr>
	                <th>Дата попытки</th>
	                <th>Результат попытки</th>
	                <th>Кол-во правельных ответов</th>
	                <th>Ответы</th>
	            </tr>
	        </thead>
			<tbody>
				{% for result in tests[test]["results"] %}
				<tr>
			    	<td>{{result.created_on}}</td>
			    	{% if result.correct == 1 %}
			    		<td>Прошел</td>
			    	{% else %}
			    		<td>Не прошел</td>
			    	{% endif %}
			    	<td>{{result.result}}</td>
			    	<td>
			    		<a href="{{url_for('spec_test_result', test_result_id=result.id)}}" target="_blank">
			    			<button type="button" class="btn btn-secondary my-std-btn">Ответы</button>
			    		</a>
			    	</td>
			    </tr>
			    {% endfor %}
	        </tbody>
		</table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary my-std-btn" data-bs-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
{% endfor %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src='{{ url_for("static", filename="js/user.js") }}'></script>

{% endblock %}